{% extends "gd_course/gd_course_layout.html" %} {% block content %}

<!-- Section chats HVL   -->
<!-- <section class="section_chatsHVL" style="background-color: #9fa7bf">
  <div class="container">
    <div class="column column1">
      <div class="column column1 box">
        <div class="h1 mb-3" style="text-align: center">
          <i class="bi bi-lightbulb"></i>
        </div>
        <p style="text-align: center">
          <strong>App group 1 (HVL-2025):</strong>
        </p>
        <ul>
          <li>Kajsa Austbø</li>
          <li>Thea Louise Veivåg</li>
          <li>Nora Hjelle Aambø</li>
          <li>Henrikke Håland Hopland</li>
          <li>Maria Pernille Olsen</li>
          <li>Emma Dahl Sørbo</li>
          <li>Murielle Mareena Blok</li>
        </ul>
        <div class="container_buttons_links_chatsHVL">
          <div class="btn">
            <a
              href="{{ url_for('gd_course_HVL_2025_group1.home_home') }}"
              target="_blank"
              class="btn btn-primary btn-sm mr-2"
              ,
              style="background-color: #007bff"
              >App</a
            >
          </div>
        </div>
      </div>

      <div class="column column1 box" style="background-color: #9fa7bf"></div>
    </div>

    <div class="column column2">
      <div class="column column1 box">
        <div class="h1 mb-3" style="text-align: center">
          <i class="bi bi-lightbulb"></i>
        </div>
        <p style="text-align: center">
          <strong>App group 2 (HVL-2025):</strong>
        </p>
        <ul>
          <li>Helena Snøfugl Skarholt </li>
          <li>Celine Victoria Sommerfelt</li>
          <li>Håvard Tveita</li>
          <li>William Borøy</li>
          <li>Ivan Nenadovic</li>
          <li>Sigurd Linde</li>
          <li>Danny Hoang Nguyen</li>
        </ul>
        <div class="container_buttons_links_chatsHVL">
          <div class="btn">
            <a
              href="{{ url_for('gd_course_HVL_2025_group2.home_home') }}"
              target="_blank"
              class="btn btn-primary btn-sm mr-2"
              ,
              style="background-color: #007bff"
              >App</a
            >
          </div>
        </div>
      </div>

      <div class="column column1 box" style="background-color: #9fa7bf"></div>
    </div>
  </div>

  <div class="container">
    <div class="column column3">
      <div class="column column1 box">
        <div class="h1 mb-3" style="text-align: center">
          <i class="bi bi-lightbulb"></i>
        </div>
        <p style="text-align: center">
          <strong>App group 3 (HVL-2025):</strong>
        </p>
        <ul>
          <li>Julia Metlicka</li>
          <li>Sabrina Mazouz</li>
          <li>Corrado Falco</li>
          <br>
          <br>
        </ul>
        <div class="container_buttons_links_chatsHVL">
          <div class="btn">
            <a
              href="{{ url_for('gd_course_HVL_2025_group3.home_home') }}"
              target="_blank"
              class="btn btn-primary btn-sm mr-2"
              ,
              style="background-color: #007bff"
              >App</a
            >
          </div>
        </div>
      </div>

      <div class="column column1 box" style="background-color: #9fa7bf"></div>
    </div>

    <div class="column column3">
      <div class="column column1 box">
        <div class="h1 mb-3" style="text-align: center">
          <i class="bi bi-lightbulb"></i>
        </div>
        <p style="text-align: center">
          <strong>App group 4 (HVL-2025):</strong>
        </p>
        <ul>
          <li>Charlotte Wandscher</li>
          <li>Gwendoline Bonami</li>
          <li>Evann Morio </li>
          <li>Biagio Navarin</li>
          <li>Mathilde Angus</li>
        </ul>
        <div class="container_buttons_links_chatsHVL">
          <div class="btn">
            <a
              href="{{ url_for('gd_course_HVL_2025_group4.home_home') }}"
              target="_blank"
              class="btn btn-primary btn-sm mr-2"
              ,
              style="background-color: #007bff"
              >App</a
            >
          </div>
        </div>
      </div>

      <div class="column column1 box" style="background-color: #9fa7bf"></div>
    </div>
  </div>

  <div class="container">
    <div class="column column3">
      <div class="column column1 box">
        <div class="h1 mb-3" style="text-align: center">
          <i class="bi bi-lightbulb"></i>
        </div>
        <p style="text-align: center">
          <strong>App group 5 (HVL-2025):</strong>
        </p>
        <ul>
          <li>Olai Frøyen </li>
          <li>Quan Cao Nguyen </li>
          <li>Carl August Lygre-Wiencke</li>
          <li>Leevi Kalevi Pihlaja</li>
          <li>Josef Cornelius Leininger</li>
          <li>Philip Eimert Van Bommel</li>
          <li>Sander Mogen Alexandersen</li>
        </ul>
        <div class="container_buttons_links_chatsHVL">
          <div class="btn">
            <a
              href="{{ url_for('gd_course_HVL_2025_group5.home_home') }}"
              target="_blank"
              class="btn btn-primary btn-sm mr-2"
              ,
              style="background-color: #007bff"
              >App</a
            >
          </div>
        </div>
      </div>

      <div class="column column1 box" style="background-color: #9fa7bf"></div>
    </div>

    <div class="column column3">
      <div class="column column1 box">
        <div class="h1 mb-3" style="text-align: center">
          <i class="bi bi-lightbulb"></i>
        </div>
        <p style="text-align: center">
          <strong>App group 6 (HVL-2025):</strong>
        </p>
        <ul>
          <li>Shaira Krueglstein</li>
          <li>Julie Joan</li>
          <br>
          <br>
          <br>
          <br>
          <br>
        </ul>
        <div class="container_buttons_links_chatsHVL">
          <div class="btn">
            <a
              href="{{ url_for('gd_course_HVL_2025_group6.home_home') }}"
              target="_blank"
              class="btn btn-primary btn-sm mr-2"
              ,
              style="background-color: #007bff"
              >App</a
            >
          </div>
        </div>
      </div>

      <div class="column column1 box" style="background-color: #9fa7bf"></div>
    </div>
  </div>
</section> -->

<section class="section-groupsGD">
  <div class="groupsGD-container">
    <!-- Group 1-->
    <div
      class="groupsGD-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
    >
      <div class="groupsGD-icon">
        <i class="bi bi-lightbulb"></i>
      </div>
      <p style="text-align: center">
        <strong>App group 1 (NHH-2026):</strong>
      </p>
      <ul style="text-align: left">
        <li>Christian Vargas Olsen</li>
        <li>Tord Sandvik</li>
        <li>Oscar Engman Lyckander</li>
        <li>Aleksander Opheim Tveit</li>
        <li>Aron Riibe Moen</li>
        <li>Oskar Jonathan Brovold-Kühn</li>
        <li>Truls Grytdal</li>
        <li>Jonathan Gisholt</li>
      </ul>
      <div class="groupsGD-buttons">
        <a href="#" class="btn btn-primary btn-sm">App</a>
      </div>
    </div>

    <!-- Group 2-->
    <div
      class="groupsGD-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
    >
      <div class="groupsGD-icon">
        <i class="bi bi-lightbulb"></i>
      </div>
      <p style="text-align: center">
        <strong>App group 2 (NHH-2026):</strong>
      </p>
      <ul style="text-align: left">
        <li>Per Magnus Reitan</li>
        <li>Kristian Buvik</li>
        <li>Sondre Rostrup</li>
        <li>Magnus Skredderberget</li>
        <li>Lorens Movikel</li>
        <li>Nikolai Movikel</li>
        <li>Peder Horgen</li>
        <li>Mikkel Willoch </li>
        <li>August Falkanger</li>
      </ul>
      <div class="groupsGD-buttons">
        <a href="#" class="btn btn-primary btn-sm">App</a>
      </div>
    </div>

    <!-- Group 3-->
    <div
      class="groupsGD-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
    >
      <div class="groupsGD-icon">
        <i class="bi bi-lightbulb"></i>
      </div>
      <p style="text-align: center">
        <strong>App group 3 (NHH-2026):</strong>
      </p>
      <ul style="text-align: left">
        <li>Roman Snizhko</li>
        <li>Loic Maleck</li>
        <li>Trond Heløe</li>
        <li>Victor Rande</li>
        <li>Sarah Hess</li>
        <li>Filip Odgaard Dimcevski</li>
        <li>Elias Kyte</li>
        <br />
      </ul>
      <div class="groupsGD-buttons">
        <a href="#" class="btn btn-primary btn-sm">App</a>
      </div>
    </div>

    <!-- Group 4-->
    <div
      class="groupsGD-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
    >
      <div class="groupsGD-icon">
        <i class="bi bi-lightbulb"></i>
      </div>
      <p style="text-align: center">
        <strong>App group 4 (NHH-2026):</strong>
      </p>
      <ul style="text-align: left">
        <li>Ignacio Uriarte</li>
        <li>Paule Uribarri</li>
        <li>Maxime Pigueller</li>
        <li>Elias Chmani</li>
        <li>Olve Wien Stenersen</li>
        <li>Kristian Nordbye</li>
        <li>Aune Tveit Klingsheim</li>
        <br />
        <br />
      </ul>
      <div class="groupsGD-buttons">
        <a href="#" class="btn btn-primary btn-sm">App</a>
      </div>
    </div>

    <!-- Group 5-->
    <div
      class="groupsGD-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
    >
      <div class="groupsGD-icon">
        <i class="bi bi-lightbulb"></i>
      </div>
      <p style="text-align: center">
        <strong>App group 5 (NHH-2026):</strong>
      </p>
      <ul style="text-align: left">
        <li>Yin Kwan Wong</li>
        <li>Haruto Nakayama</li>
        <li>Annamaria Oroshazi</li>
        <li>Nabil Kuzbari</li>
        <li>Adam Silhanek</li>
        <li>Sabrin Adan Hassan</li>
        <li>Inger Constanse Eidhammer</li>
        <li>Lan Nguyen</li>
        <li>Elena Hanusová </li>
      </ul>
      <div class="groupsGD-buttons">
        <a href="#" class="btn btn-primary btn-sm">App</a>
      </div>
    </div>
  </div>
</section>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  // Convert custom data attributes to real AOS attributes
  document.querySelectorAll("[data-aos='aos-fade-right']").forEach((el) => {
    el.setAttribute("data-aos", "aos-fade-right");
  });

  AOS.init({
    startEvent: "DOMContentLoaded",
    once: true,
  });
</script>

{% endblock content %}
