/* Colors 
Carbon App, section 1 (header, background): #2a4359
Carbon App, section 1 (header, boxes): #6da6a6
Carbon App, section 2 (header, background): #466fa6
Carbon App, section 2 (header, boxes): #8badd9
*/

/* Utilities  */
p {
    margin: 10px 0;
    font-size: 18px;
  }
body {
  background: #c5c8d9;
}

img{
  align-items: start;
}
  .centered {
    text-align: center;
  }

  h1 {
    font-size: 24px;
    color: #568c63;
    text-align: center;
    font-weight: bold;
  }

h4 {
    font-size: 18px;
    text-align: left;
    font-weight: bold;
  }

  .custom-btn2 {
    background-color: #466fa6; /* blue */
    color: white;
    border: white;
    padding: 10px 30px;
    border-radius: 100px;
}
  /* Section header */
  .section_header_calculator {
    background-color:#c5c8d9;
  }
  .header_calculator {
    display: flex;  
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 15px;
    border: 2px solid#568c63;
    margin-top: 20px;
  }
  
  .header_calculator .box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px 20px;
  }
  
  .header_calculator .box img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* ou 'contain' selon ce que tu veux */
  }
  
  .header_calculator .box:nth-of-type(1) {
    flex-grow: 1;
  }
  
  .header_calculator .box:nth-of-type(2) {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center; /* centre verticalement les éléments */
    align-items: center;     /* centre horizontalement */
    text-align: center;
  }
  .container_buttons_links_header_calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
  }
  .container_buttons_links_header_calculator a:hover {
    color: #776a6a;
  }

  /* Section calculator_new_entry_main */
  .section_calculator_new_entry_main {
    background-color:#c5c8d9;
  }
  .calculator_new_entry_main {
    display: flex;  
    align-items: start;
    background: #c5c8d9;
  }
  .calculator_new_entry_main .box {
    flex: 1;
    background: #568c63;
    color: black;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px 20px;
    text-align:center;
    align-items: center;
    justify-content: center;
  }
  .calculator_new_entry_main .box:nth-of-type(1) {
    flex-grow:3;
  }
  .calculator_new_entry_main .box:nth-of-type(2) {
    flex-grow:3;
  }
  .calculator_new_entry_main .box:nth-of-type(3) {
    flex-grow:3;
  }
  .calculator_new_entry_main .box:nth-of-type(4) {
    flex-grow:3;
  }
  .section_container_buttons_calculator_new_entry_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    padding: 0px 0px;
    margin: 0px 0px;
  }
  .btn_calculator_new_entry_main {
    padding: 10px 10px;
    margin: 10px 10px 10px 10px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    background-color: #568c63;
    border: 2px solid  #2a4359;
  }
  .btn_calculator_new_entry_main:hover {
    color: #fff;
    background-color: #2a4359;
    border: 2px solid #2a4359;
    text-decoration: none;
  }
  /*Container new_entry */
  .new_entry {
    display: flex;
    background: #c5c8d9;
    }  
  .new_entry .container {
    display: flex;
    background: #c5c8d9;
  }
  .new_entry .container {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  .new_entry .container .box {
    flex: 1;
    background: #c5c8d9;
    border-radius: 2px;
    margin: 20px 10px;
    padding: 15px 20px;
    text-align:center;
  }  
  .new_entry .container  .box:nth-of-type(1) {
    flex-grow:1;
    background: #fff;
    border-radius: 10px;
    margin: 0px 0px;
    padding: 0px 0px;
    text-align:left;
  }  
  .new_entry .container  .box:nth-of-type(2) {
    flex-grow:6;
    max-width: 450px;
    background: #fff;
    border: 2px solid #568c63;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px 20px;
    text-align:center;
  }  
  .new_entry .container  .box:nth-of-type(3) {
    flex-grow:1;
    background: #fff;
    border-radius: 10px;
    margin: 0px 0px;
    padding: 0px 0px;
    text-align:left;
  }
  /*Container table_main */
  .table_main {
    display: flex;
    background: #c5c8d9;
    }  
  .table_main .container {
    display: flex;
    background: #c5c8d9;
  }
  .table_main .container {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  .table_main .container .box {
    flex: 1;
    background: #c5c8d9;
    border-radius: 2px;
    margin: 20px 10px;
    padding: 15px 20px;
    text-align:center;
  }  
  .table_main .container  .box:nth-of-type(1) {
    flex-grow:1;
    background: #fff;
    border-radius: 10px;
    margin: 0px 0px;
    padding: 0px 0px;
    text-align:left;
  }  
  .table_main .container  .box:nth-of-type(2) {
    flex-grow:6;
    background: #568c63;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px 20px;
    text-align:center;
  }  
  .table_main .container  .box:nth-of-type(3) {
    flex-grow:1;
    background: #fff;
    border-radius: 10px;
    margin: 0px 0px;
    padding: 0px 0px;
    text-align:left;
  }
  /*End container table_main*/
  /*Container main menu */
  .main_menu {
    display: flex;
    background: #c5c8d9;
    }  
  .main_menu .container {
    display: flex;
    background: #c5c8d9;
  }
  .main_menu .container {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  .main_menu .container .box {
    flex: 1;
    background: #c5c8d9;
    border-radius: 2px;
    margin: 20px 10px;
    padding: 15px 20px;
    text-align:center;
  }  
  .main_menu .container  .box:nth-of-type(1) {
    flex-grow:1;
    background: #fff;
    border-radius: 10px;
    margin: 0px 0px;
    padding: 0px 0px;
    text-align:left;
  }  
  .main_menu .container  .box:nth-of-type(2) {
    flex-grow:6;
    max-width: 450px;
    background: #568c63;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px 20px;
    text-align:center;
  }  
  .main_menu .container  .box:nth-of-type(3) {
    flex-grow:1;
    background: #fff;
    border-radius: 10px;
    margin: 0px 0px;
    padding: 0px 0px;
    text-align:left;
  }
  /*End container main menu*/
  /*Container buttons section main menu */
  .container_buttons_links_main_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
  }
  .container_buttons_links_main_menu a:hover {
    color: #568c63;
  }
  /*End container buttons section main menu*/

  /*Container two_emissions_graphs */
.two_emissions_graphs {
  display: flex;
  background: #c5c8d9;
  }  
.two_emissions_graphs .container {
  display: flex;
  background: #c5c8d9;
}
.two_emissions_graphs .container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.two_emissions_graphs .container .box {
  flex: 1;
  height: 300px;
  width: 600px;
  background: #c5c8d9;
  border-radius: 2px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.two_emissions_graphs .container  .box:nth-of-type(1) {
  flex-grow:1;
  background: #568c63;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.two_emissions_graphs .container  .box:nth-of-type(2) {
  flex-grow:1;
  background: #568c63;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  

/*End container two_emissions_graphs*/
  
  @media (max-width:768px) { 
    .header_calculator {
      flex-direction: column;
    } 
    .calculator_new_entry_main {
      flex-direction: column;
    } 
    .new_entry .container {
      flex-direction: column;
      padding: 10px;
      text-align: center;
    }
    .table_main .container {
      flex-direction: column;
      padding: 10px;
      text-align: center;
    }
  }
