/* Background */
body {
    background-image: url('../images/19717.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Gjennomsiktig basic */
.register_section_css .container {
    width: 700px;
    margin: 80px auto;
    padding: 40px; 
    background-color: rgba(255, 255, 255, 0); /* Om du vil ha vekk boksen slett linje 15 og 16 */
    /* backdrop-filter: blur(5px);  Lager blur */
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    color: #fff
}

/* Buttons */
.login-btn {
    background-color: #568c63;
    color: #fff;
    padding: 10px 20px;
    border-radius: 100px;
}

.login-btn:hover {
    background-color: #4b8057;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .register_section_css .container {
      width: 90%;
      margin: 40px auto;
      padding: 20px;
      border-radius: 10px;
    }
  
    .login-btn {
      width: 100%;
    }
  
    .form-group {
      margin-bottom: 20px;
    }
  
    input.form-control {
      font-size: 1rem;
    }
  
    legend {
      font-size: 1.5rem;
      text-align: center;
    }
  }
  