{% extends "boa205_course/boa205_course_layout.html" %}
{% block content %}

  <!-- Introduction -->
  <section class="home_section_css">
      <div class="container">
          <div class="header">
                <div class="box">
                      {% with messages = get_flashed_messages(with_categories=true) %}
                          {% if messages %}
                              {% for category, message in messages %}
                                  <div class="alert alert-{{ category }}">
                                      {{ message }}
                                  </div>
                              {% endfor %}
                          {% endif %}
                      {% endwith %}
                      <script>
                        setTimeout(function () {
                          var flashes = document.querySelectorAll(".alert");
                          flashes.forEach((flash) => flash.remove());
                        }, 5000);
                      </script>
                      <h1 class="text-center">BØA205 Økonomistyring</h1>
                      <p class="mb-1">
                        Kurset skal gi innsikt i bruk av ulike modeller for kalkyle,
                        driftsregnskap og budsjettering i økonomistyringen.
                        <br>
                        <br>
                        Kurset skal videre utvikle evnen til å identifisere relevante inntekter og kostnader
                        som grunnlag for bedriftsøkonomiske beslutninger.
                      </p>
                </div>
                <div class="box">
                  <div class="h1 mb-3">
                    <i class="bi bi-bell"></i>
                  </div>
                  {% for announcement in announcements.items %}
                      <article class="media content-section">
                        <img class="rounded-circle account-img" src="data:image/jpeg;base64,{{ func(announcement.author.image_file) }}">
                        <div class="media-body">
                          <div class="article-metadata">
                            <a class="mr-2" href="{{ url_for('boa205_course_announcements.user_announcements', username=announcement.author.username) }}">{{ announcement.author.username }}</a>
                            <small class="text-muted">{{ announcement.date_posted.strftime('%Y-%m-%d') }}</small>
                          </div>
                          <h4><a class="article-title" href="{{ url_for('boa205_course_announcements.announcement', announcement_id=announcement.id) }}">{{ announcement.title }}</a></h4>
                          <p class="article-content">{{ announcement.content }}</p>
                        </div>
                      </article>
                  {% endfor %}
                  {% for page_num in announcements.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                      {% if announcements.page == page_num %}
                        <a class="btn btn-info mb-4" href="{{ url_for('boa205_course.boa205_course_home', page=page_num) }}">{{ page_num }}</a>
                      {% else %}
                        <a class="btn btn-outline-info mb-4" href="{{ url_for('boa205_course.boa205_course_home', page=page_num) }}">{{ page_num }}</a>
                      {% endif %}
                    {% else %}
                      ...
                    {% endif %}
                  {% endfor %}
                </div>
            </div>
        </div>
      </div>
    </section>

<section class="section-chapters">
      <div class="chapters-container">
        <!-- Chapter 1-->
        <div
          class="chapters-box"
          data-aos="aos-fade-right"
          data-aos-duration="2000"
          data-aos-delay="200"
          data-aos-once="true"
        >
          <div class="chapters-icon">
            <i class="fa-solid fa-receipt"></i>
          </div>
          <p><strong>Grunnleggende informasjon:</strong>
            Pensum; forelesningsplan; obligatorisk arbeidskrav; tidsplan og kapitler
          </p>
          <div class="chapters-buttons">
            <a 
              href="{{ url_for('boa205_course_chapters.boa205_course_chapters_ch1') }}"
              data-toggle="modal" data-target="#info1"
              class="btn btn-primary btn-sm"
              >Info1</a>
            <a 
              href="{{ url_for('boa205_course_chapters.boa205_course_chapters_ch1') }}"
              data-toggle="modal" data-target="#info2"
              class="btn btn-primary btn-sm"
              >Info2</a>
          </div>
        </div>

        <!-- Chapter 1-->
        <div
          class="chapters-box"
          data-aos="aos-fade-right"
          data-aos-duration="2000"
          data-aos-delay="200"
          data-aos-once="true"
        >
          <div class="chapters-icon">
            <i class="fa-solid fa-receipt"></i>
          </div>
          <p><strong>Kapittel 1:</strong>
            I det kapitel vi skal studer hva er eksternregnskap, 
              skatteregnskap og driftsregnskap.
          </p>
          <div class="chapters-buttons">
            <a 
              href="{{ url_for('boa205_course_chapters.boa205_course_chapters_ch1') }}"
              class="btn btn-primary btn-sm"
              >Kapittel 1</a
            >
          </div>
        </div>

        <!-- Chapter 2-->
        <div
          class="chapters-box"
          data-aos="aos-fade-right"
          data-aos-duration="2000"
          data-aos-delay="200"
          data-aos-once="true"
        >
          <div class="chapters-icon">
            <i class="fa-solid fa-receipt"></i>
          </div>
          <p><strong>Kapittel 2a:</strong>
            I det kapitel vi skal studer hva er normalkostregnskapet, selvskostmetoden, avviksanalyse, og bidragsmetoden
          </p>
          <div class="chapters-buttons">
            <a 
              href="{{ url_for('boa205_course_chapters.boa205_course_chapters_ch2') }}"
              class="btn btn-primary btn-sm"
              >Kapittel 2a</a
            >
          </div>
        </div>

        <!-- Chapter 2b-->
        <div
          class="chapters-box"
          data-aos="aos-fade-right"
          data-aos-duration="2000"
          data-aos-delay="200"
          data-aos-once="true"
        >
          <div class="chapters-icon">
            <i class="fa-solid fa-receipt"></i>
          </div>
          <p><strong>Kapittel 2b:</strong>
            I det kapitel vi skal studer hva er normalkostregnskapet, selvskostmetoden, avviksanalyse, og bidragsmetoden
          </p>
          <div class="chapters-buttons">
            <a 
              href="{{ url_for('boa205_course_chapters.boa205_course_chapters_ch2b') }}"
              class="btn btn-primary btn-sm"
              >Kapittel 2b</a
            >
          </div>
        </div>

        <!-- Chapter 3-->
        <div
          class="chapters-box"
          data-aos="aos-fade-right"
          data-aos-duration="2000"
          data-aos-delay="200"
          data-aos-once="true"
        >
          <div class="chapters-icon">
            <i class="fa-solid fa-receipt"></i>
          </div>
          <p><strong>Kapittel 3:</strong>
            I det kapitel vi skal studer hva er standardkostregnskap; standardkostkalkulasjon; material- og lønnsregnskap; 
            standardkostregnskapet
          </p>
          <div class="chapters-buttons">
            <a 
              href="{{ url_for('boa205_course_chapters.boa205_course_chapters_ch3') }}"
              class="btn btn-primary btn-sm"
              >Kapittel 3</a
            >
          </div>
        </div>

        <!-- Chapter 4-->
        <div
          class="chapters-box"
          data-aos="aos-fade-right"
          data-aos-duration="2000"
          data-aos-delay="200"
          data-aos-once="true"
        >
          <div class="chapters-icon">
            <i class="fa-solid fa-receipt"></i>
          </div>
          <p><strong>Kapittel 4:</strong>
            I det kapitel vi skal studer hva er resultatavvik, kostnadsavvik og salgets resultatavvik.
            Vi studerer også fordeler og ulemper ved standardkost
          </p>
          <div class="chapters-buttons">
            <a 
              href="{{ url_for('boa205_course_chapters.boa205_course_chapters_ch4') }}"
              class="btn btn-primary btn-sm"
              >Kapittel 4</a
            >
          </div>
        </div>

        <!-- Chapter 3 Extra Oppgave-->
        <!-- <div
          class="chapters-box"
          data-aos="aos-fade-right"
          data-aos-duration="2000"
          data-aos-delay="200"
          data-aos-once="true"
        >
          <div class="chapters-icon">
            <i class="fa-solid fa-receipt"></i>
          </div>
          <p><strong>Kapittel 3 (ekstra oppgave):</strong>
            Ekstra oppgave etter kapittel 3
          </p>
          <div class="chapters-buttons">
            <a 
              href="{{ url_for('boa205_course_chapters.boa205_course_chapters_ch3_extra') }}"
              class="btn btn-primary btn-sm"
              >Kapittel 3 (ekstra)</a
            >
          </div>
        </div> -->

        <!-- Arbeidskrav 1 -->
        <div
          class="chapters-box"
          data-aos="aos-fade-right"
          data-aos-duration="2000"
          data-aos-delay="200"
          data-aos-once="true"
          style="background-color: #f2b84b;"
        >
          <div class="chapters-icon">
            <i class="fa-solid fa-calculator"></i>
          </div>
          <p><strong>Arbeidskrav 1:</strong>
            Her finner du kursets første arbeidskrav
          </p>
          <div class="chapters-buttons-arbeid">
            <a 
              href="{{ url_for('boa205_course_chapters.boa205_course_chapters_arbeidskrav1') }}"
              class="btn btn-primary btn-sm"
              >Arbeidskrav 1</a
            >
          </div>
        </div>

        

        <!-- Chapter 5 -->
        <!-- <div
          class="chapters-box"
          data-aos="aos-fade-right"
          data-aos-duration="2000"
          data-aos-delay="200"
          data-aos-once="true"
        >
          <div class="chapters-icon">
            <i class="fa-solid fa-receipt"></i>
          </div>
          <p><strong>Kapittel 5:</strong>
            ....
          </p>
          <div class="chapters-buttons">
            <a 
              href="#"
              class="btn btn-primary btn-sm"
              >Kapittel 5</a
            >
          </div>
        </div> -->
        
      </div>
    </section>

<!-- Info Modal1 -->
<div class="modal fade" id="info1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="height: 80%;">
    <div class="modal-content" style="height:100%">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Grunnleggende informasjon</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <iframe 
            id="paper_frame"
            src="https://view.officeapps.live.com/op/embed.aspx?src=https://forward-static.s3.eu-north-1.amazonaws.com/boa205_course/info/Forelesingsplan+B%C3%98A205+%C3%98konomistyring+2026.docx"
            width="100%" 
            height="100%" 
            frameborder="0">
        </iframe>
      </div>
      <div class="modal-footer">
        <a href="https://forward-static.s3.eu-north-1.amazonaws.com/boa205_course/info/Forelesingsplan+B%C3%98A205+%C3%98konomistyring+2026.docx" class="btn btn-success" download>
          <i class="fa-solid fa-download"></i> Last ned
        </a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
      </div>
    </div>
  </div>
</div>

<!-- Info Modal2 -->
<div class="modal fade" id="info2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="height: 80%;">
    <div class="modal-content" style="height:100%">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Grunnleggende informasjon</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <iframe 
            id="paper_frame"
            src="https://view.officeapps.live.com/op/embed.aspx?src=https://forward-static.s3.eu-north-1.amazonaws.com/boa205_course/info/tidsplan_og_kapitler.docx"
            width="100%" 
            height="100%" 
            frameborder="0">
        </iframe>
      </div>
      <div class="modal-footer">
        <a href="https://forward-static.s3.eu-north-1.amazonaws.com/boa205_course/info/tidsplan_og_kapitler.docx" class="btn btn-success" download>
          <i class="fa-solid fa-download"></i> Last ned
        </a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  // Convert custom data attributes to real AOS attributes
  document.querySelectorAll("[data-aos='aos-fade-right']").forEach((el) => {
    el.setAttribute("data-aos", "aos-fade-right");
  });

  AOS.init({
    startEvent: 'DOMContentLoaded',
    once: true
  });
</script>

   
  <!-- Question Accordion -->
  <section id="questions" class="p-5" >
    <div class="container">
        <h2 class="text-center mb-4">Ofte stilte spørsmål</h2>
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <!-- Item 1 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne"
          >
            Tidsplan og kapitler
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" 
        data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul>
              <li><strong>Kapittel 1.</strong> Kapittel 1–3 i boken. <strong>12. januar.</strong>
              Dere kan svare på spørsmålene i dette kapittelet <strong>fra 10. januar til 21. januar.</strong>
              Alternativt kan dere svare på spørsmålene når dere vil, men i statistikken vil de da vises under 
              <strong>år</strong>, og ikke under <strong>uke</strong>.
              </li>
              <li>
                <strong>Kapittel 2a.</strong> Kapittel 4 i boken. <strong>19. januar.</strong>
                I kursmateriellet skal dere lese delene fra «Litt oppfriskning fra kapittel 3» til 
                «Eksempel: normalkostregnskap med selvkostmetoden og avviksanalyse».
                Dere kan svare på spørsmålene i dette kapittelet <strong>fra 17. januar til 4. februar.</strong>
                Ellers kan dere svare når dere vil, men i statistikken vil de da vises under 
                <strong>år</strong>, og ikke under <strong>uke</strong>.
              </li>
              <li>
                <strong>Kapittel 2a.</strong> Kapittel 4 i boken. <strong>26. januar.</strong>
                I kursmateriellet skal dere lese delene fra «Beholdningsendringer og virkninger på resultat» 
                til «Eksempel: Beholdningsendringer».
                Dere kan svare på spørsmålene i dette kapittelet <strong>fra 17. januar til 4. februar.</strong>
                Ellers kan dere svare når dere vil, men i statistikken vil de da vises under 
                <strong>år</strong>, og ikke under <strong>uke</strong>.
              </li>
              <li>
                <strong>Kapittel 2b.</strong> Kapittel 4 i boken. <strong>2. februar.</strong>
                I kursmateriellet skal dere lese <strong>alle delene.</strong>
                Dere kan svare på spørsmålene i dette kapittelet <strong>fra 31. januar til 11. februar.</strong>
                Ellers kan dere svare når dere vil, men i statistikken vil de da vises under 
                <strong>år</strong>, og ikke under <strong>uke</strong>.
              </li>
              <li>
                <strong>Kapittel 3.</strong> Kapittel 5 i boken. <strong>9. februar.</strong>
                I kursmateriellet skal dere lese delene fra 
                «Standardkostregnskapet – selvkostmetoden og bidragsmetoden» til 
                «Avviksanalyse: Indirekte kostnader».
                Dere kan svare på spørsmålene i dette kapittelet <strong>fra 7. februar til 18. mars.</strong>
                Ellers kan dere svare når dere vil, men i statistikken vil de da vises under 
                <strong>år</strong>, og ikke under <strong>uke</strong>.
              </li>
              <li>
                <strong>Kapittel 4.</strong> Kapittel 6 i boken. <strong>23. februar.</strong>
                I kursmateriellet skal dere lese <strong>alle delene.</strong>
                Dere kan svare på spørsmålene i dette kapittelet <strong>fra 21. februar til 4. mars.</strong>
                Ellers kan dere svare når dere vil, men i statistikken vil de da vises under 
                <strong>år</strong>, og ikke under <strong>uke</strong>.
              </li>
              <li>
                <strong>Kapittel 5.</strong> Kapittel 7 i boken. <strong>2. mars.</strong>
                I kursmateriellet skal dere lese alle delene.
                Dere kan svare på spørsmålene i dette kapittelet <strong>fra 28. februar til 11. mars.</strong>
                Ellers kan dere svare når dere vil, men i statistikken vil de da vises under 
                <strong>år</strong>, og ikke under <strong>uke</strong>.
              </li>
              <li>
                <strong>Kapittel 6.</strong> Kapittel 8 i boken. <strong>9. mars.</strong>
                Dere kan svare på spørsmålene i dette kapittelet <strong>fra 7. mars til 25. mars.</strong>
                Ellers kan dere svare når dere vil, men i statistikken vil de da vises under 
                <strong>år</strong>, og ikke under <strong>uke</strong>.
              </li>
              <li>
                <strong>Kapittel 6.</strong> Kapittel 8 i boken. <strong>16. mars.</strong>
                Dere kan svare på spørsmålene i dette kapittelet <strong>fra 7. mars til 25. mars.</strong>
                Ellers kan dere svare når dere vil, men i statistikken vil de da vises under 
                <strong>år</strong>, og ikke under <strong>uke</strong>.
              </li>
              <li>
                <strong>Kapittel 7.</strong> Kapittel 9 i boken. <strong>23. mars.</strong>
                Dere kan svare på spørsmålene i dette kapittelet <strong>fra 21. mars til 8. april.</strong>
                Ellers kan dere svare når dere vil, men i statistikken vil de da vises under 
                <strong>år</strong>, og ikke under <strong>uke</strong>.
              </li>
              <li>
                <strong>Kapittel 7.</strong> Kapittel 9 i boken. <strong>30. mars.</strong>
                Dere kan svare på spørsmålene i dette kapittelet <strong>fra 21. mars til 8. april.</strong>
                Ellers kan dere svare når dere vil, men i statistikken vil de da vises under 
                <strong>år</strong>, og ikke under <strong>uke</strong>.
              </li>
              <li>
                <strong>Påskeferie. 6. april.</strong>
              </li>
              <li>
                <strong>Kapittel 8.</strong> Oppgaveseminar som forberedelse til eksamen. <strong>13. april.</strong>
                Dere kan svare på spørsmålene i dette kapittelet <strong>fra 11. april til 29. april.</strong>
                Ellers kan dere svare når dere vil, men i statistikken vil de da vises under 
                <strong>år</strong>, og ikke under <strong>uke</strong>.
              </li>
              <li>
                <strong>Kapittel 8.</strong> Oppgaveseminar som forberedelse til eksamen. <strong>20. april.</strong>
                Dere kan svare på spørsmålene i dette kapittelet <strong>fra 11. april til 29. april.</strong>
                Ellers kan dere svare når dere vil, men i statistikken vil de da vises under 
                <strong>år</strong>, og ikke under <strong>uke</strong>.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Item 2 -->
      <!-- <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo"
          >
            Essay and app.
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
          <p>The students write a <strong>8-9 pages (no more) essay</strong>. To write the essay, the students must search in
            scientific papers and official documents to develop a solid methodology to work out transport carbon emissions.
            The quality of the essay will be based on the <strong>methodology</strong>, and the <strong>quality</strong> and <strong>originality of the exposition</strong>.
            The students can present exclusively the methodology, or can also illustrate the methodology with <strong>examples</strong>, or any other resource they consider appropriate.
            The entire idea of the course is to help the student not find a job, but to create their own companies.
            In the essay, the students can also develop the <strong>business model</strong> for their app.
          <br>
          <br>
          Based on the methodology and the business model presented in the essay, the students <strong>develop and app</strong>.
          The app will be developed step by step during the course. At the end of the course each group have its own app
          running on Amazon Web Services.
          To have a good grade, the apps must have all the functionalities developed during the course.
          The students could also change the layout of their apps if they want. The students have a lot of freedom to develop their own app.
          However, to have a good grade, the students must guarantee that the app have all the functionalities learned during the course,
          and have a nice and intuitive layout.
          <br>
          <br>
          During the course, I will teach the students to create their own GitHub repository,
          and their own accounts in Amazon Web Service. After each lecture, the students will
          update the GitHub account based on the content covered in that lecture.
          By doing that, the students will have their own apps running in Amazon Web Service.
          Before to take the exam, each student must send me the links to their GitHub repositories and Amazon Web Service,
          so that I can verify that they have followed the course.
          <br>
          <br>
          At the end of the course, I will create a package with the students’ apps.
          Therefore, <strong>each group will have its own app hosted in the platform Forward</strong>.
          This will help the students to have a portfolio of apps publicly available at no cost,
          since the students’ apps will use the databases and the resources of Forward.
          </p>
          </div>
        </div>
      </div> -->
      <!-- Item 3 -->
      <!-- <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingGroups">
          <button class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseGroups"
          >
            Groups.
          </button>
        </h2>
        <div id="flush-collapseGroups" class="accordion-collapse collapse" aria-labelledby="flush-headingGroups" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
          <p>The <strong>essay</strong> and the <strong>development of the app</strong> is conducted in <strong>random groups of 6-7 persons</strong>. In the future the students will need to
          work with persons from different background, and write and essay and develop in that environment helps them to make that transition smoothly.
          </p>
          </div>
        </div>
      </div> -->
      <!-- Item 4 -->
      <!-- <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree"
          >
            Timing, key dates and final exam.
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
          <p>
          <u>At NHH</u>
          <br>
          <br>
          The course starts on Monday 8th January, and finishes on Wednesday 17th April.
          The course will be taught for 15 weeks, and we will cover 14 chapters.
          Therefore, we will cover approximately one chapter per week.
          <br>
          <br>
          The <strong>key dates </strong>for the course are the next ones:
          <ul>
            <li><strong>Wednesday 06th March</strong>: Midway conference. The midway conference will be around 06th March.
              The date will be flexible since the conference will be after chapter 8.</li>
            <li><strong>Wednesday 17th April</strong>: Deadline to submit the final version of the paper with your methodology.</li>
            <li><strong>Monday 22nd April</strong>: Final exam.</li>
          </ul>
          </p>
          <p>
          <u>At HVL</u>
          <br>
          <br>
          The course starts on Tuesday 9th January, and finishes on Wednesday 17th April.
          The course will be taught for 15 weeks, and we will cover 14 chapters.
          Therefore, we will cover approximately one chapter per week.
          <br>
          <br>
          The <strong>key dates </strong>for the course are the next ones:
          <ul>
            <li><strong>Wednesday 06th March</strong>: Midway conference. The midway conference will be around 06th March.
              The date will be flexible since the conference will be after chapter 8.</li>
            <li><strong>Wednesday 17th April</strong>: Deadline to submit the final version of the paper with your methodology.</li>
            <li><strong>Wednesday 24th April</strong>: Final exam.</li>
          </ul>
          </p>
          </div>
        </div>
      </div> -->
      <!-- Item 5 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFour"
          >
          Forelesninger.
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
          Alle forelesningene <strong>vil bli streamet ved hjelp av Zoom (https://nhh.zoom.us/j/6343089435)</strong>.
          </p>
          </div>
        </div>
      </div>
      <!-- Item 6 -->
      <!-- <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFive"
          >
            Tutorials.
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
          <p>
            If any student/group needs help, please let me know, and we will meet to solve any problem/doubt that you might have.
            You can ask me for a tutorial during the lectures or drop me a line by using Canvas or my email (mario.paz@nhh.no).
            <br>
            <br>
            If you cannot meet physically, please drop me a line, and we set an appointment at a different time, or by using Zoom (https://nhh.zoom.us/j/6343089435)
          </p>
          </div>
        </div>
      </div> -->
    </div>
  </section>

{% endblock content %}

