/*Container buttons section chapters*/
.section_container_buttons_chapters {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-wrap: wrap;
  padding: 0px 0px;
  margin: 0px 0px;
}
.section_container_buttons_chapters_box {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-wrap: wrap;
  padding: 0px 0px;
  margin: 0px 0px;
}
/*End container buttons section chapters*/

/*Header: rt5-3: #789091*/
.header_css {
  background-color: #789091;
  color: #000000;
  min-height: 200px;
}

.header_css img {
  max-width: 400px;
  padding: 15px 20px;
}

.header_css .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*End header*/

/*Container buttons section header*/
.container_buttons_links_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container_buttons_links_header a:hover {
  color: #789091;
}
/*End container buttons section header*/

/* section_1 */
.section_1 {
  margin: 0 auto;
  padding: 30px 30px;
  background: #4a736f;
}
.section_1 .container {
  max-width: 1320px;
  display: flex;
  background: #4a736f;
  flex-direction: row;
}
.section_1 .container .box {
  flex: 1;
  background: #4a736f;
  color: #000000;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: center;
}
.section_1 .container .box:nth-of-type(1) {
  background: #17a2b8; /* rt5-5: #17a2b8  */
  flex-grow: 1;
  text-align: left;
}
.section_1 .container .box:nth-of-type(2) {
  background: #4a736f;
  flex-grow: 2;
  padding: 15px 20px;
}
.section_1 .container .boxa {
  flex: 1;
  background: #4a736f;
  color: black;
  border-radius: 5px;
  margin: 20px 0px;
  padding: 15px 0px;
  text-align: center;
}
.section_1 .container .boxa:nth-of-type(1) {
  background: #4a736f; /* rt5-5: #17a2b8  */
  flex-grow: 2;
  text-align: left;
}
.section_1 .container .boxa:nth-of-type(2) {
  background: #17a2b8;
  flex-grow: 1;
  padding: 15px 20px;
  text-align: left;
}
.section_1 .container .box_two {
  flex: 1;
  background: #4a736f;
  color: black;
  border-radius: 5px;
  margin: 20px 0px;
  padding: 15px 0px;
  text-align: center;
}
.section_1 .container .box_two:nth-of-type(1) {
  background: #17a2b8; /* rt5-5: #17a2b8  */
  flex-grow: 1;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: left;
}
.section_1 .container .box_two:nth-of-type(2) {
  background: #17a2b8;
  flex-grow: 1;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: left;
}
.section_1 .container .box_three {
  flex: 1;
  background: #4a736f;
  color: #000000;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: center;
}
.section_1 .container .box_three:nth-of-type(1) {
  background: #4a736f;
  flex-grow: 1;
  text-align: left;
}
.section_1 .container .box_three:nth-of-type(2) {
  background: #17a2b8;
  flex-grow: 6;
  padding: 15px 20px;
}
.section_1 .container .box_three:nth-of-type(3) {
  background: #4a736f;
  flex-grow: 1;
  padding: 15px 20px;
}
/*Container buttons section section_1a*/
.container_buttons_links_section_1a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container_buttons_links_section_1a a:hover {
  color: #17a2b8;
}
/*End container buttons section section_1a*/
/*Container buttons section section_1b*/
.container_buttons_links_section_1b {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container_buttons_links_section_1b a:hover {
  color: #4a736f;
}
/*End container buttons section section_1b*/
/* btn-section1 */
.btn-section1 {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  color: #000000;
  border-radius: 5px;
  text-decoration: none;
  background-color: #4a736f;
  border: 2px solid #17a2b8;
}
.btn-section1:hover {
  color: #000000;
  background-color: #17a2b8;
  border: 2px solid #17a2b8;
}
/* End btn-section1 */
/* btn-section1_box */
.btn-section1_box {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  color: #000000;
  border-radius: 5px;
  text-decoration: none;
  background-color: #17a2b8;
  border: 2px solid #4a736f;
}
.btn-section1_box:hover {
  color: #000000;
  background-color: #4a736f;
  border: 2px solid #4a736f;
}
/* End btn-section1_box */
/* End section_1 */

/* section_2 */
.section_2 {
  margin: 0 auto;
  padding: 30px 30px;
  background: #9cd5c0;
}
.section_2 .container {
  max-width: 1320px;
  display: flex;
  background: #9cd5c0;
  flex-direction: row;
}
.section_2 .container .box {
  flex: 1;
  background: #9cd5c0;
  color: #000000;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: center;
}
.section_2 .container .box:nth-of-type(1) {
  background: #027b63; /* rt5-5: #027B63  */
  flex-grow: 1;
  text-align: left;
}
.section_2 .container .box:nth-of-type(2) {
  background: #9cd5c0;
  flex-grow: 2;
  padding: 15px 20px;
}
.section_2 .container .boxa {
  flex: 1;
  background: #9cd5c0;
  color: black;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 0px;
  text-align: center;
}
.section_2 .container .boxa:nth-of-type(1) {
  background: #027b63; /* rt5-5: #027B63  */
  flex-grow: 1;
  padding: 15px 20px;
  text-align: left;
}
.section_2 .container .boxa:nth-of-type(2) {
  background: #027b63;
  flex-grow: 1;
  padding: 15px 20px;
  text-align: left;
}
.section_2 .container .box_two {
  flex: 1;
  background: #027b63;
  color: black;
  border-radius: 5px;
  margin: 20px 0px;
  padding: 15px 0px;
  text-align: center;
}
.section_2 .container .box_two:nth-of-type(1) {
  background: #027b63;
  flex-grow: 1;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: left;
}
.section_2 .container .box_two:nth-of-type(2) {
  background: #027b63;
  flex-grow: 1;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: left;
}
.section_2 .container .box_three {
  flex: 1;
  background: #9cd5c0;
  color: #000000;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: center;
}
.section_2 .container .box_three:nth-of-type(1) {
  background: #9cd5c0;
  flex-grow: 1;
  text-align: left;
}
.section_2 .container .box_three:nth-of-type(2) {
  background: #027b63;
  flex-grow: 6;
  padding: 15px 20px;
}
.section_2 .container .box_three:nth-of-type(3) {
  background: #9cd5c0;
  flex-grow: 1;
  padding: 15px 20px;
}
/*Container buttons section section_2a*/
.container_buttons_links_section_2a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container_buttons_links_section_2a a:hover {
  color: #027b63;
}
/*End container buttons section section_2a*/
/*Container buttons section section_2b*/
.container_buttons_links_section_2b {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container_buttons_links_section_2b a:hover {
  color: #9cd5c0;
}
/*End container buttons section section_2b*/
/* btn-section2 */
.btn-section2 {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  color: #000000;
  border-radius: 5px;
  text-decoration: none;
  background-color: #9cd5c0;
  border: 2px solid #027b63;
}
.btn-section2:hover {
  color: #000000;
  background-color: #027b63;
  border: 2px solid #027b63;
}
/* End btn-section2 */
/* btn-section2_box */
.btn-section2_box {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  color: #000000;
  border-radius: 5px;
  text-decoration: none;
  background-color: #027b63;
  border: 2px solid #9cd5c0;
}
.btn-section2_box:hover {
  color: #000000;
  background-color: #9cd5c0;
  border: 2px solid #9cd5c0;
}
/* End btn-section2_box */
/* End section_2 */

.section_2 .container .col .box_questions_two {
  flex: 1;
  background: #9cd5c0;
  color: #fff;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: center;
}
.section_2 .container .col .box_questions_two:nth-of-type(1) {
  background: #9cd5c0;
  flex-grow: 1;
  text-align: left;
}
.section_2 .container .col .box_questions_two:nth-of-type(2) {
  background: #f2b84b;
  flex-grow: 6;
  padding: 15px 20px;
}
.section_2 .container .col .box_questions_two:nth-of-type(3) {
  background: #f2b84b;
  flex-grow: 6;
  padding: 15px 20px;
}
.section_2 .container .col .box_questions_two:nth-of-type(4) {
  background: #9cd5c0;
  flex-grow: 1;
  padding: 15px 20px;
}

/* section_3 */
.section_3 {
  margin: 0 auto;
  padding: 30px 30px;
  background: #17a2b8;
}
.section_3 .container {
  max-width: 1320px;
  display: flex;
  background: #17a2b8;
  flex-direction: row;
}
.section_3 .container .box {
  flex: 1;
  background: #17a2b8;
  color: #000000;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: center;
}
.section_3 .container .box:nth-of-type(1) {
  background: #4a736f; /* rt5-5: #4a736f  */
  flex-grow: 1;
  text-align: left;
}
.section_3 .container .box:nth-of-type(2) {
  background: #17a2b8;
  flex-grow: 2;
  padding: 15px 20px;
}
.section_3 .container .boxa {
  flex: 1;
  background: #17a2b8;
  color: black;
  border-radius: 5px;
  margin: 20px 0px;
  padding: 15px 0px;
  text-align: center;
}
.section_3 .container .boxa:nth-of-type(1) {
  background: #17a2b8; /* rt5-5: #4a736f  */
  flex-grow: 2;
  text-align: left;
}
.section_3 .container .boxa:nth-of-type(2) {
  background: #4a736f;
  flex-grow: 1;
  padding: 15px 20px;
  text-align: left;
}
.section_3 .container .box_three {
  flex: 1;
  background: #17a2b8;
  color: #000000;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: center;
}
.section_3 .container .box_three:nth-of-type(1) {
  background: #17a2b8;
  flex-grow: 1;
  text-align: left;
}
.section_3 .container .box_three:nth-of-type(2) {
  background: #4a736f;
  flex-grow: 6;
  padding: 15px 20px;
}
.section_3 .container .box_three:nth-of-type(3) {
  background: #17a2b8;
  flex-grow: 1;
  padding: 15px 20px;
}
/*Container buttons section section_3a*/
.container_buttons_links_section_3a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container_buttons_links_section_3a a:hover {
  color: #4a736f;
}
/*End container buttons section section_3a*/
/*Container buttons section section_3b*/
.container_buttons_links_section_3b {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container_buttons_links_section_3b a:hover {
  color: #17a2b8;
}
/*End container buttons section section_3b*/
/* btn-section3 */
.btn-section3 {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  color: #000000;
  border-radius: 5px;
  text-decoration: none;
  background-color: #17a2b8;
  border: 2px solid #4a736f;
}
.btn-section3:hover {
  color: #000000;
  background-color: #4a736f;
  border: 2px solid #4a736f;
}
/* End btn-section3 */
/* btn-section3_box */
.btn-section3_box {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  color: #000000;
  border-radius: 5px;
  text-decoration: none;
  background-color: #4a736f;
  border: 2px solid #17a2b8;
}
.btn-section3_box:hover {
  color: #000000;
  background-color: #17a2b8;
  border: 2px solid #17a2b8;
}
/* End btn-section3_box */
/* End section_3 */

/* section_4 */
.section_4 {
  margin: 0 auto;
  padding: 30px 30px;
  background: #027b63;
}
.section_4 .container {
  max-width: 1320px;
  display: flex;
  background: #027b63;
  flex-direction: row;
}
.section_4 .container .box {
  flex: 1;
  background: #027b63;
  color: #000000;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: center;
}
.section_4 .container .box:nth-of-type(1) {
  background: #9cd5c0; /* rt5-5: #9cd5c0  */
  flex-grow: 1;
  text-align: left;
}
.section_4 .container .box:nth-of-type(2) {
  background: #027b63;
  flex-grow: 2;
  padding: 15px 20px;
}
.section_4 .container .boxa {
  flex: 1;
  background: #027b63;
  color: black;
  border-radius: 5px;
  margin: 20px 0px;
  padding: 15px 0px;
  text-align: center;
}
.section_4 .container .boxa:nth-of-type(1) {
  background: #027b63; /* rt5-5: #9cd5c0  */
  flex-grow: 2;
  text-align: left;
}
.section_4 .container .boxa:nth-of-type(2) {
  background: #9cd5c0;
  flex-grow: 1;
  padding: 15px 20px;
  text-align: left;
}
.section_4 .container .box_two {
  flex: 1;
  background: #9cd5c0;
  color: black;
  border-radius: 5px;
  margin: 20px 0px;
  padding: 15px 0px;
  text-align: center;
}
.section_4 .container .box_two:nth-of-type(1) {
  background: #9cd5c0; /* rt5-5: #17a2b8  */
  flex-grow: 1;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: left;
}
.section_4 .container .box_two:nth-of-type(2) {
  background: #9cd5c0;
  flex-grow: 1;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: left;
}
.section_4 .container .box_three {
  flex: 1;
  background: #027b63;
  color: #000000;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: center;
}
.section_4 .container .box_three:nth-of-type(1) {
  background: #027b63;
  flex-grow: 1;
  text-align: left;
}
.section_4 .container .box_three:nth-of-type(2) {
  background: #9cd5c0;
  flex-grow: 6;
  padding: 15px 20px;
}
.section_4 .container .box_three:nth-of-type(3) {
  background: #027b63;
  flex-grow: 1;
  padding: 15px 20px;
}
/*Container buttons section section_4a*/
.container_buttons_links_section_4a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container_buttons_links_section_4a a:hover {
  color: #9cd5c0;
}
/*End container buttons section section_4a*/
/*Container buttons section section_4b*/
.container_buttons_links_section_4b {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container_buttons_links_section_4b a:hover {
  color: #027b63;
}
/*End container buttons section section_4b*/
/* btn-section4 */
.btn-section4 {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  color: #000000;
  border-radius: 5px;
  text-decoration: none;
  background-color: #027b63;
  border: 2px solid #9cd5c0;
}
.btn-section4:hover {
  color: #000000;
  background-color: #9cd5c0;
  border: 2px solid #9cd5c0;
}
/* End btn-section4 */
/* btn-section4_box */
.btn-section4_box {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  color: #000000;
  border-radius: 5px;
  text-decoration: none;
  background-color: #9cd5c0;
  border: 2px solid #027b63;
}
.btn-section4_box:hover {
  color: #000000;
  background-color: #027b63;
  border: 2px solid #027b63;
}
/* End btn-section4_box */
/* End section_4 */

/* Table */
.section_2 .container .boa205_table {
  /* max-width: 1320px; */
  background: #9cd5c0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.section_2 .container .boa205_table .box {
  flex: 1;
  background: #6da6a6;
  color: #343a40;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: center;
}

/* Table buttons */
.section_2 .container .boa205_table_button {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.section_2 .container .boa205_table_button .box {
  flex: 1;
  background: #9fa7bf;
  color: #343a40;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 10px 10px;
  text-align: center;
}
/* .section_km_fuel_css .box:nth-of-type(1) {
  flex-grow: 1;
  background: #9ac7a9;
  color: #343a40;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 10px 10px;
  text-align: center;
}
.section_km_fuel_css .box:nth-of-type(2) {
  flex-grow: 1;
  background: #9ac7a9;
  color: #343a40;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 10px 10px;
  text-align: center;
}
.section_km_fuel_css .box:nth-of-type(3) {
  flex-grow: 1;
  background: #9ac7a9;
  color: #343a40;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 10px 10px;
  text-align: center;
} */

@media (max-width: 768px) {
  .section_container_buttons_chapters {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section_1 .container .boxa:nth-of-type(2) {
    max-width: 300px;
  }
  .section_2 .container .box:nth-of-type(2) {
    max-width: 300px;
  }
  .section_2 .container .boxa:nth-of-type(2) {
    max-width: 300px;
  }
  .section_3 .container .boxa:nth-of-type(2) {
    max-width: 300px;
  }
  .header_css .container {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }
  .section_1 .container {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }
  .section_2 .container {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }
  .section_3 .container {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }
  .section_4 .container {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }
  #instructionsModalInstructions1 {
    max-width: 325px;
  }
}
