{% extends "gd_course/NHH_2026_group1/layout.html" %} {% block content %}

<!-- Kobler developers-siden til egen CSS -->
<link
  rel="stylesheet"
  href="https://forward-static.s3.eu-north-1.amazonaws.com/gd_course/gd_course_NHH_2026_group1/developers.css"
/>

<section class="section_developers_page">
  <div class="page-container">
    <!-- Intro-kort øverst på siden -->
    <div class="dev-intro-card page-card">
      <h1 class="dev-title"><span class="text-logo">Our Team</span></h1>

      <p class="dev-intro-text">
        We are a team of eight NHH students united by a passion for
        sustainability and digital innovation. With backgrounds spanning
        finance, economics, and technology, we have built a practical platform
        that helps businesses understand, estimate, and act on their carbon
        footprint in transport, thus turning complex emissions data into clear,
        actionable insight.
      </p>
    </div>

    <!-- Grid med alle team-medlemmene -->
    <div class="team-grid">
      <!-- CHRISTIAN -->
      <div class="team-card page-feature-card">
        <img
          src="https://forward-static.s3.eu-north-1.amazonaws.com/gd_course/gd_course_NHH_2026_group1/images/Christian.png"
          alt="Christian Vargas Olsen"
          class="avatar"
        />

        <h3 class="member-name">
          Christian Vargas Olsen
          <a
            href="https://www.linkedin.com/in/christian-olsen-2021b1290/"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin linkedin-icon"></i>
          </a>
        </h3>

        <ul class="member-bullets">
          <li>22 years old from Chile</li>
          <li>Second-year student at NHH</li>
          <li>Intern at A Finans</li>
        </ul>
      </div>

      <!-- TORD -->
      <div class="team-card page-feature-card">
        <img
          src="https://forward-static.s3.eu-north-1.amazonaws.com/gd_course/gd_course_NHH_2026_group1/images/Tord.png"
          alt="Tord Sandvik"
          class="avatar"
        />

        <h3 class="member-name">
          Tord Sandvik
          <a
            href="https://www.linkedin.com/in/tord-sandvik-35a515331/"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin linkedin-icon"></i>
          </a>
        </h3>

        <ul class="member-bullets">
          <li>24 years old from Ålesund</li>
          <li>Third-year student at NHH</li>
          <li>NTNU Alumnus</li>
        </ul>
      </div>

      <!-- ALEKS -->
      <div class="team-card page-feature-card">
        <img
          src="https://forward-static.s3.eu-north-1.amazonaws.com/gd_course/gd_course_NHH_2026_group1/images/Tveit.png"
          alt="Aleksander Opheim Tveit"
          class="avatar"
        />

        <h3 class="member-name">
          Aleksander Opheim Tveit
          <a
            href="https://www.linkedin.com/in/aleksander-opheim-tveit-56990332b/"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin linkedin-icon"></i>
          </a>
        </h3>

        <ul class="member-bullets">
          <li>21 years old from Bærum, Norway</li>
          <li>Second-year student at NHH</li>
          <li>Costumer Service at DNB</li>
        </ul>
      </div>

      <!-- OSCAR-->
      <div class="team-card page-feature-card">
        <img
          src="https://forward-static.s3.eu-north-1.amazonaws.com/gd_course/gd_course_NHH_2026_group1/images/Lyckander.png"
          alt="Oscar Engman Lyckander"
          class="avatar"
        />

        <h3 class="member-name">
          Oscar Engman Lyckander
          <a
            href="https://www.linkedin.com/in/oscar-engman-lyckander-573a36210/"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin linkedin-icon"></i>
          </a>
        </h3>

        <ul class="member-bullets">
          <li>22 years old from Sagene, Norway</li>
          <li>First-year student at NHH</li>
          <li>BSc in Digital Economics and Management (Informatics)</li>
        </ul>
      </div>

      <!-- JONATHAN -->
      <div class="team-card page-feature-card">
        <img
          src="https://forward-static.s3.eu-north-1.amazonaws.com/gd_course/gd_course_NHH_2026_group1/images/Bugge.png"
          alt="Jonathan Bugge Gisholt"
          class="avatar"
        />

        <h3 class="member-name">
          Jonathan Bugge Gisholt
          <a
            href="https://www.linkedin.com/in/jonathan-bugge-gisholt-a49b09289/"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin linkedin-icon"></i>
          </a>
        </h3>

        <ul class="member-bullets">
          <li>23 years old from Ullern, Norway</li>
          <li>Third-year student at NHH</li>
          <li>Founder and analyst at HIQ Analytics</li>
        </ul>
      </div>

      <!-- OSKAR -->
      <div class="team-card page-feature-card">
        <img
          src="https://forward-static.s3.eu-north-1.amazonaws.com/gd_course/gd_course_NHH_2026_group1/images/Oscar.png"
          alt="Oskar Brovold-Kühn"
          class="avatar"
        />

        <h3 class="member-name">
          Oskar Brovold-Kühn
          <a
            href="https://www.linkedin.com/in/oskar-brovold-k%C3%BChn-388256297/"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin linkedin-icon"></i>
          </a>
        </h3>

        <ul class="member-bullets">
          <li>21 years old from Bærum, Norway</li>
          <li>Third-year student at NHH</li>
          <li>Former Sales Consultant at Adidas</li>
        </ul>
      </div>

      <!-- TRULS -->
      <div class="team-card page-feature-card">
        <img
          src="https://forward-static.s3.eu-north-1.amazonaws.com/gd_course/gd_course_NHH_2026_group1/images/Truls.png"
          alt="Truls Grytdal"
          class="avatar"
        />

        <h3 class="member-name">
          Truls Grytdal
          <a
            href="https://www.linkedin.com/in/truls-grytdal-b1aa1b370/"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin linkedin-icon"></i>
          </a>
        </h3>

        <ul class="member-bullets">
          <li>22 years old from Moss, Norway</li>
          <li>Second-year student at NHH</li>
          <li>Member of NHH's Real Estate Group</li>
        </ul>
      </div>

      <!-- ARON -->
      <div class="team-card page-feature-card">
        <img
          src="https://forward-static.s3.eu-north-1.amazonaws.com/gd_course/gd_course_NHH_2026_group1/images/Aron.png"
          alt="Aron Moen"
          class="avatar"
        />

        <h3 class="member-name">
          Aron Moen
          <a
            href="https://www.linkedin.com/in/aron-moen-61272a272/"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin linkedin-icon"></i>
          </a>
        </h3>

        <ul class="member-bullets">
          <li>21 years old from Holmenkollen, Norway</li>
          <li>Third-year student at NHH</li>
          <li>NHHS Case Club - Case Solver</li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
