{% extends "gd_course/NHH_2026_group5/layout.html" %} {% block content %}

<!-- Header -->

<section class="header">
  <div class="box-contantAbout">
    <h1 class="abouth1">
      About <br />
      EcoVera
    </h1>
  </div>

  <div class="box-moreContentAbout">
    <p>Empowering smarter climate decisions through data.</p>
  </div>

  <!-- Clouds-->
  <div class="cloud">
    <img
      src="https://forward-static.s3.eu-north-1.amazonaws.com/gd_course/gd_course_NHH_2026_group5/icons/cloud1.png"
      alt=""
      style="--i: 1"
    />
    <img
      src="https://forward-static.s3.eu-north-1.amazonaws.com/gd_course/gd_course_NHH_2026_group5/icons/cloud2.png"
      alt=""
      style="--i: 2"
    />
    <img
      src="https://forward-static.s3.eu-north-1.amazonaws.com/gd_course/gd_course_NHH_2026_group5/icons/cloud3.png"
      alt=""
      style="--i: 3"
    />
    <img
      src="https://forward-static.s3.eu-north-1.amazonaws.com/gd_course/gd_course_NHH_2026_group5/icons/cloud4.png"
      alt=""
      style="--i: 4"
    />
    <img
      src="https://forward-static.s3.eu-north-1.amazonaws.com/gd_course/gd_course_NHH_2026_group5/icons/cloud5.png"
      alt=""
      style="--i: 5"
    />
  </div>
</section>

<!-- Why it matters-->

<section class="sectionWhy">
  <div class="containerWhy">
    <div class="picWhy">
      <img
        src="https://forward-static.s3.eu-north-1.amazonaws.com/gd_course/gd_course_NHH_2026_group5/icons/whyItMatters.png"
      />
    </div>

    <div class="infoWhy">
      <h3 class="whyHead"><span style="color: teal">WHY </span>it matters</h3>
      <p>
        Climate change is one of the defining challenges of our time. <br />By
        making carbon data transparent and understandable, <br />
        we empower smarter, more responsible choices.
      </p>
    </div>
  </div>
</section>

<!-- Wave-->
<section class="dashboardHero">
  <svg class="heroWave" viewBox="0 0 1440 120" preserveAspectRatio="none">
    <path
      fill="#e3f5f4"
      d="M0,40 C200,80 400,0 700,30 C1000,60 1200,10 1440,40 L1440,120 L0,120 Z"
    ></path>
  </svg>
</section>

<!-- Introductions -->
<section class="developersContainer">
  <h1 class="devTitle">Meet our <span style="color: teal"> TEAM</span></h1>
  <p class="infoTeam">
    We are a student team developing <span class="brandText">Carbon App</span
    ><br />A platform that helps businesses and individuals to understand and
    reduce their carbon emissions.
  </p>

  <div class="line"></div>

  <div class="containerTeam">
    <div class="boxCard card1">
      <div class="profil">
        <img
          src="https://forward-static.s3.eu-north-1.amazonaws.com/gd_course/gd_course_NHH_2026_group5/icons/Sabrin.jpg"
          alt="Sabrin"
        />
      </div>
      <h4 class="profilTitle">Sabrin Adan Hassan</h4>
      <p class="role">
        Bacholor student of Economics & Business Administration at NHH
      </p>

      <p class="bio">
        Interested in finance, aquaculture, and space, with a curiosity for how
        technology can connect different industries and solve complex problems.
      </p>
      <div class="linkedinContainer">
        <a
          href="https://www.linkedin.com/in/sabrin-adan-hassan-66842332b/"
          class="linkedinIcon"
          ><i class="bi bi-linkedin"></i
        ></a>
      </div>
    </div>
    <div class="boxCard card2">
      <div class="profil">
        <img
          src="https://forward-static.s3.eu-north-1.amazonaws.com/gd_course/gd_course_NHH_2026_group5/icons/Elena.jpeg"
          alt="Elena"
        />
      </div>
      <h4 class="profilTitle">Elena Hanusova</h4>
      <p class="role">
        Bachelor student of Business Administration at LUISS University
      </p>

      <p class="bio">
        Interested in sustainability,business innovation and carbon tracking
        solutions. I love traveling with friends.
      </p>
      <div class="linkedinContainer">
        <a
          href="https://www.linkedin.com/in/elena-hanusov%C3%A1-b296a8352/"
          class="linkedinIcon"
          ><i class="bi bi-linkedin"></i
        ></a>
      </div>
    </div>
    <div class="boxCard card3">
      <div class="profil">
        <img
          src="https://forward-static.s3.eu-north-1.amazonaws.com/gd_course/gd_course_NHH_2026_group5/icons/Lan.jpeg"
          alt="Lan"
        />
      </div>
      <h4 class="profilTitle">Lan Ngoc Nguyen</h4>
      <p class="role">Bacholor student of Economics and Data Science at NHH</p>

      <p class="bio">
        I love exploring new horizons and building digital tools that help
        others travel more sustainably.
      </p>
      <div class="linkedinContainer">
        <a
          href="https://www.linkedin.com/in/lan-nguyen-a84195304/"
          class="linkedinIcon"
          ><i class="bi bi-linkedin"></i
        ></a>
      </div>
    </div>

    <div class="boxCard card5">
      <div class="profil">
        <img
          src="https://forward-static.s3.eu-north-1.amazonaws.com/gd_course/gd_course_NHH_2026_group5/icons/Adam.jpeg"
          alt="Adam"
        />
      </div>
      <h4 class="profilTitle">Adam Silhanek</h4>
      <p class="role">
        Bacholor student at Prague University of Economics and Business <br />
        Studying Finance
      </p>

      <p class="bio">
        Interested in digitalization and its role in finance and economic
        efficiency, particularly how data driven tools can improve making
        decisions.
      </p>
      <div class="linkedinContainer">
        <a
          href="https://www.linkedin.com/in/adam-%C5%A1ilh%C3%A1nek-86116b349/"
          class="linkedinIcon"
          ><i class="bi bi-linkedin"></i
        ></a>
      </div>
    </div>

    <div class="boxCard card6">
      <div class="profil">
        <img
          src="https://forward-static.s3.eu-north-1.amazonaws.com/gd_course/gd_course_NHH_2026_group5/icons/Nabil.jpeg"
          alt="Nabil"
        />
      </div>
      <h4 class="profilTitle">Nabil Kuzbari</h4>
      <p class="role">
        Bacholor student at Vienna University of Economics and Business (WU)
        <br />
        Studying international business administration.
      </p>

      <p class="bio">
        Interested in traveling and exploring new places, and in my free time I
        like playing Padel with my friends.
      </p>
      <div class="linkedinContainer">
        <a
          href="https://www.linkedin.com/in/nabil-kuzbari-6548aa319?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
          class="linkedinIcon"
          ><i class="bi bi-linkedin"></i
        ></a>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
