{% extends "gd_course/NHH_2026_group5/layout.html" %} {% block content %}

<!--------- HEADER---------->
<section class="headerHome">
  <video class="header-video" autoplay muted loop playsinline>
    <source
      src="https://forward-static.s3.eu-north-1.amazonaws.com/gd_course/gd_course_NHH_2026_group5/icons/HomePageVideo.mp4"
      type="video/mp4"
    />
  </video>

  <div class="video-overlay"></div>

  <div class="containerHeader">
    <div class="headerInfo">
      <h1>
        Empowering a Greener <br />
        Tomorrow
      </h1>
      <p>
        We help businesses track emissions, analyze impact and take real climate
        action.
      </p>
    </div>

    <div class="ctaButtons">
      <a
        class="button"
        href="{{url_for('gd_course_NHH_2026_group5.carbon_app_home')}}"
        >Get started</a
      >
      <a
        class="button second"
        href="{{url_for('gd_course_NHH_2026_group5.methodology_home')}}"
        >Learn more</a
      >
    </div>
  </div>

  <!-- Wave impact-->

  <div class="custom-shape-divider-bottom-1772754136">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
        opacity=".25"
        class="shape-fill"
      ></path>
      <path
        d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
        opacity=".5"
        class="shape-fill"
      ></path>
      <path
        d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
</section>

<section class="impactSection">
  <div class="impactOverlay"></div>

  <div class="impactContentWrapper">
    <h1 class="headline">Take Control of Your Emissions</h1>
    <div class="impactContent">
      <div class="impactCard impactCard--light">
        <h3>Measure</h3>
        <p>Calculate emissions across your business operations in one place.</p>
      </div>

      <div class="impactCard impactCard--dark">
        <h3>Analyse</h3>
        <p>
          Get clear insights into the sources of you and your company’s carbon
          footprint
        </p>
      </div>

      <div class="impactCard impactCard-med">
        <h3>Reduce</h3>
        <p>
          Reduce emissions and avoid potential carbon taxes and compliance
          risks.
        </p>
      </div>
    </div>
  </div>

  <!-- Wave nederst -->
  <svg class="impactWave" viewBox="0 0 1440 220" preserveAspectRatio="none">
    <path
      fill="#ffffff"
      d="M0,160 C180,120 360,200 540,170 C720,140 900,60 1080,90 C1260,120 1350,180 1440,160 L1440,220 L0,220 Z"
    ></path>
  </svg>
</section>

<!--------------Understanding the carbon app ----------------->
<section class="howSection">
  <div class="howContainer">
    <div class="howHeader">
      <p class="howTag">HOW IT WORKS</p>
      <h2 class="howTitle">Your journey to lower emissions</h2>
      <p class="howIntro">
        Follow four simple steps to measure your transport footprint and make
        smarter, lower-emission choices.
      </p>
    </div>

    <div class="howSteps">
      <!-- Step 1 -->
      <div class="howStep">
        <div class="howTop">
          <div class="howCircle">1</div>
        </div>

        <div class="howCard howCard1">
          <div class="howIcon">
            <i class="fa-solid fa-user-tie"></i>
            <i class="fa-solid fa-briefcase"></i>
          </div>
          <h3>Select user type</h3>
          <p>Choose between Individual or Business.</p>
        </div>
      </div>

      <!-- Step 2 -->
      <div class="howStep">
        <div class="howTop">
          <div class="howCircle">2</div>
        </div>

        <div class="howCard howCard2">
          <div class="howIcon">
            <i class="fa-solid fa-car"></i>
          </div>
          <h3>Choose your transport</h3>
          <p>Select the travel option that matches your journey.</p>
        </div>
      </div>

      <!-- Step 3 -->
      <div class="howStep">
        <div class="howTop">
          <div class="howCircle howCircle3">3</div>
        </div>

        <div class="howCard howCard3">
          <div class="howIcon">
            <i class="fa-solid fa-chart-column"></i>
            <i class="fa-solid fa-calculator"></i>
          </div>
          <h3>Calculate emissions</h3>
          <p>Get an instant CO₂ estimate based on your choices.</p>
        </div>
      </div>

      <!-- Step 4 -->
      <div class="howStep">
        <div class="howTop">
          <div class="howCircle">4</div>
        </div>

        <div class="howCard howCard4">
          <div class="howIcon">
            <i class="fa-solid fa-seedling"></i>
          </div>
          <h3>Improve your impact</h3>
          <p>Explore smarter alternatives and lower-emission choices.</p>
        </div>
      </div>
    </div>
  </div>

  <svg class="impactWave" viewBox="0 0 1440 220" preserveAspectRatio="none">
    <path
      fill="#f3f4f5"
      d="M0,160 C180,120 360,200 540,170 C720,140 900,60 1080,90 C1260,120 1350,180 1440,160 L1440,220 L0,220 Z"
    ></path>
  </svg>
</section>

{% endblock content %}
