{% extends "gd_course/HVL_2025_group6/layout.html" %} 
{% block content %}

<!-- Section: Presentation of the Team (Picture in background) -->

<section class="picture">
    <div class="text-overlay">
      <h1> About Us</h1>
      </p> 
        We are two students united by a shared passion for tackling climate change. Bringing our own perspectives and ideas, we wanted to create something meaningful that makes environmental impact visible and understandable. With MR. Eco as our guide, we turn sustainable choices into a fun, engaging, and playful journey toward a greener future.
      </p>
    </div>

</section>

<!-- Team members-->

<section class="team-section">
  <div class="team-grid">

    <div class="team-card">
      <img src="{{ url_for('static', filename='/gd_course_HVL_2025_group6/images/julie.jpeg') }}"  alt="" style="border-radius: 50%; width:150px;">
      <h3>Julie Joan</h3>
      <p>Hi, I’m Julie, and I’m currently pursuing a Master’s degree in Digital Education for Sustainable Development at Heidelberg University of Education. In my studies, I explore the intersections of education, digitalization, and sustainability. I’m particularly interested in how digital media and innovative approaches can be used to foster a more sustainable future.
      </p>
      <div class="section_container_buttons_linkedin">
        <a class="btn_linkedin" href="https://www.linkedin.com/in/julie-joan-ab2b98326/"  target="_blank">LinkedIn</a>
      </div> 
    </div>    

  <div class="team-card">
    <img src="{{ url_for('static', filename='/gd_course_HVL_2025_group6/images/shaira.jpeg') }}"  alt="" style="border-radius: 50%; width:150px;">
    <h3> Shaira Krüglstein</h3>
    <p>My name is Shaira, I come from Germany and I study Human Resources Management. I enjoy working with people and learning what motivates them, and that is also why sustainability interests me. I believe that even small actions can make a difference, and I like being part of projects that create awareness and positive change.
    </p>
    <div class="section_container_buttons_linkedin">
        <a class="btn_linkedin" href="https://www.linkedin.com/in/shaira-kr%C3%BCglstein-8b0107214/"  target="_blank">LinkedIn</a>
    </div> 
  </div>

</div>          
</section>


{% endblock content %}
