{% extends "gd_course/HVL_2025_group6/layout.html" %} 
{% block content %}


<!-- Background picture -->
<section class="homepagebackground"
  style="
    background-image: url('{{ url_for('static', filename='images/trolltunganight.jpeg') }}');
    ">
<!-- Textbox -->
  <div class="text-overlay">

    <h1 style="font-size:55px;">
      Hi there!
    </h1>

    <p>
       Welcome to Mr. Eco where awareness meets action. Every day, we travel from one place to another: to work, to school, to see friends.
       But have you ever thought about how those journeys affect the planet? Even small trips add up, and understanding their impact is the first step toward change.
       That’s where Mr. Eco comes in, your friendly carbon detective.
       He helps you uncover the emissions behind your daily travel, turning data into stories and awareness into action.
       With just a few taps, you can see how your choices shape your footprint and how simple changes can make a real difference.
       Because saving the planet shouldn’t feel like homework it should feel like progress.
       So, are you ready to see your travels in a new way?
      </p>
    
      <a class="btn_investigate" href="{{ url_for('gd_course_HVL_2025_group6.calculator_home') }}" >
      Let's investigate!
      </a>
    </div>
  </div>

</section>


{% endblock %}