{% extends "boa205_course/boa205_course_layout.html" %}
{% block content %}

{% if anchor %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const targetElement = document.getElementById("{{ anchor }}");
            if (targetElement) {
                targetElement.scrollIntoView({ behavior: 'smooth' });
            }
        });
    </script>
{% endif %}

<!-- Header -->
<section xmlns="http://www.w3.org/1999/html">
    <header class="header_css">
        <div class="container">
            <div>
                <h1>Kapittel 3 (ekstra oppgave)</h1>
                <p class="mb-1">
                Ekstra oppgave etter kapittel 3
                </p>
                <div class="material-container">
                    
                    <!-- Oppgave 1 -->
                    <div
                    class="material-box-exercises"
                    data-aos="aos-fade-right"
                    data-aos-duration="2000"
                    data-aos-delay="200"
                    data-aos-once="true"
                    >
                        <div class="material-icon-material">
                            <i class="fa-solid fa-file-invoice"></i>
                        </div>
                        <p><strong>Opp.</strong></p>
                        <div class="material-buttons-exercises">
                            <a
                            href="#" data-toggle="modal" data-target="#oppgave_Modal"
                            class="btn btn-primary btn-sm"
                            >Lenk</a
                            >
                        </div>
                    </div>
                    
                    <!-- Oppgave. Mål -->
                    <div
                    class="material-box-exercises"
                    data-aos="aos-fade-right"
                    data-aos-duration="2000"
                    data-aos-delay="200"
                    data-aos-once="true"
                    >
                        <div class="material-icon-material">
                            <i class="fa-solid fa-file-invoice"></i>
                        </div>
                        <p><strong>Opp. Mål</strong></p>
                        <div class="material-buttons-exercises">
                            <a
                            href="#" data-toggle="modal" data-target="#oppgave_mal_Modal"
                            class="btn btn-primary btn-sm"
                            >Lenk</a
                            >
                        </div>
                    </div>

                    <!-- Oppgave. Løsning -->
                    <div
                    class="material-box-solutions"
                    data-aos="aos-fade-right"
                    data-aos-duration="2000"
                    data-aos-delay="200"
                    data-aos-once="true"
                    >
                        <div class="material-icon-material">
                            <i class="fa-solid fa-file-contract"></i>
                        </div>
                        <p><strong>Opp. Løsning</strong></p>
                        <div class="material-buttons-solutions">
                            <a
                            href="#" data-toggle="modal" data-target="#oppgave_losning_Modal"
                            class="btn btn-primary btn-sm"
                            >Lenk</a
                            >
                        </div>
                    </div>

                    
                    
                    <!-- Video -->
                    <!-- <div
                    class="material-box-video"
                    data-aos="aos-fade-right"
                    data-aos-duration="2000"
                    data-aos-delay="200"
                    data-aos-once="true"
                    >
                        <div class="material-icon-material">
                            <i class="fa-solid fa-video"></i>
                        </div>
                        <p><strong>Video</strong></p>
                        <div class="material-buttons-video">
                            <a
                            href="#"
                            class="btn btn-primary btn-sm"
                            >Lenk</a
                            >
                        </div>
                    </div>  -->

                    <!-- Presentasjon -->
                    <!-- <div
                    class="material-box-presentation"
                    data-aos="aos-fade-right"
                    data-aos-duration="2000"
                    data-aos-delay="200"
                    data-aos-once="true"
                    >
                        <div class="material-icon-material">
                            <i class="fa-solid fa-person-chalkboard"></i>
                        </div>
                        <p><strong>Presentasjon</strong></p>
                        <div class="material-buttons-presentation">
                            <a
                            href="#"
                            class="btn btn-primary btn-sm"
                            >Lenk</a
                            >
                        </div>
                    </div>  -->
                    
                </div>
                </br>

            </div>
            <img
src="https://forward-static.s3.eu-north-1.amazonaws.com/boa205_course/ch3/figures/ch3.svg"
alt=""
/>
        </div>
    </header>
</section>

<!-- Oppgave. Modal -->
<div class="modal fade" id="oppgave_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="height: 80%;">
    <div class="modal-content" style="height:100%">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Oppgave</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <iframe 
          id="paper_frame"
          src="https://view.officeapps.live.com/op/embed.aspx?src=https://forward-static.s3.eu-north-1.amazonaws.com/boa205_course/oppgave_after_ch3/oppgaveseminar.docx"
          width="100%" height="100%" frameborder="0">
        </iframe>
      </div>
      <div class="modal-footer">
        <a href="https://forward-static.s3.eu-north-1.amazonaws.com/boa205_course/oppgave_after_ch3/oppgaveseminar.docx" class="btn btn-success" download>
          <i class="fa-solid fa-download"></i> Last ned
        </a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
      </div>
    </div>
  </div>
</div>

<!-- Oppgave. Mål. Modal -->
<div class="modal fade" id="oppgave_mal_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="height: 80%;">
    <div class="modal-content" style="height:100%">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Oppgave. Mål</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <iframe 
          id="paper_frame"
          src="https://view.officeapps.live.com/op/embed.aspx?src=https://forward-static.s3.eu-north-1.amazonaws.com/boa205_course/oppgave_after_ch3/oppgaveseminar_mal.xlsx"
          width="100%" height="100%" frameborder="0">
        </iframe>
      </div>
      <div class="modal-footer">
        <a href="https://forward-static.s3.eu-north-1.amazonaws.com/boa205_course/oppgave_after_ch3/oppgaveseminar_mal.xlsx" class="btn btn-success" download>
          <i class="fa-solid fa-download"></i> Last ned
        </a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
      </div>
    </div>
  </div>
</div>

<!-- Oppgave. Løsning. Modal -->
<div class="modal fade" id="oppgave_losning_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="height: 80%;">
    <div class="modal-content" style="height:100%">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Oppgave. Løsning</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <iframe 
          id="paper_frame"
          src="https://view.officeapps.live.com/op/embed.aspx?src=https://forward-static.s3.eu-north-1.amazonaws.com/boa205_course/oppgave_after_ch3/oppgaveseminar_losning.xlsx"
          width="100%" height="100%" frameborder="0">
        </iframe>
      </div>
      <div class="modal-footer">
        <a href="https://forward-static.s3.eu-north-1.amazonaws.com/boa205_course/oppgave_after_ch3/oppgaveseminar_losning.xlsx" class="btn btn-success" download>
          <i class="fa-solid fa-download"></i> Last ned
        </a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
      </div>
    </div>
  </div>
</div>


  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>





{% endblock content %}
