{% extends "boa205_course/boa205_course_layout.html" %} {% block content %}

<section class="section-statistics">
  <div class="stats-container">
    <!-- Første innmelding – Tid –< -->
    <div
      class="stats-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
    >
      <div class="stats-icon">
        <i class="fa-solid fa-magnifying-glass-chart"></i>
      </div>
      <p><strong>Første innmelding – Tid –</strong></p>
      <div class="stats-buttons">
        <a
          href="{{
                    url_for('boa205_course_statistics.statistics_ch1_first_entry_time_week')
                  }}"
          class="btn btn-primary btn-sm"
          >Uke kapittel</a
        >
        <a
          href="{{
                    url_for('boa205_course_statistics.statistics_ch1_first_entry_time_year')
                  }}"
          class="btn btn-primary btn-sm"
          >År</a
        >
        <a
          href="#"
          class="btn btn-primary btn-sm"
          data-toggle="modal"
          data-target="#instructionsModalInstructions1"
          >Hjelp</a
        >
      </div>
    </div>

    <!-- Første innmelding – Gjennomsnitt – -->
    <div
      class="stats-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="400"
      data-aos-once="true"
    >
      <div class="stats-icon">
        <i class="fa-solid fa-magnifying-glass-chart"></i>
      </div>
      <p><strong>Første innmelding – Gjennomsnitt –</strong></p>
      <div class="stats-buttons">
        <a
          href="{{
                    url_for('boa205_course_statistics.statistics_ch1_first_entry_average_week')
                  }}"
          class="btn btn-primary btn-sm"
          >Uke kapittel</a
        >
        <a
          href="{{
                    url_for('boa205_course_statistics.statistics_ch1_first_entry_average_year')
                  }}"
          class="btn btn-primary btn-sm"
          >År</a
        >
        <a
          href="#"
          class="btn btn-primary btn-sm"
          data-toggle="modal"
          data-target="#instructionsModalInstructions2"
          >Hjelp</a
        >
      </div>
    </div>

    <!-- Første riktige svar -->
    <div
      class="stats-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="600"
      data-aos-once="true"
    >
      <div class="stats-icon">
        <i class="fa-solid fa-magnifying-glass-chart"></i>
      </div>
      <p><strong>Første riktige svar</strong></p>
      <div class="stats-buttons">
        <a
          href="{{
                    url_for('boa205_course_statistics.statistics_ch1_first_answer_week')
                  }}"
          class="btn btn-primary btn-sm"
          >Uke kapittel</a
        >
        <a
          href="{{
                    url_for('boa205_course_statistics.statistics_ch1_first_answer_year')
                  }}"
          class="btn btn-primary btn-sm"
          >År</a
        >
        <a
          href="#"
          class="btn btn-primary btn-sm"
          data-toggle="modal"
          data-target="#instructionsModalInstructions3"
          >Hjelp</a
        >
      </div>
    </div>
    

    <!-- Forsøk til riktig -->
    <div
      class="stats-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="800"
      data-aos-once="true"
    >
      <div class="stats-icon">
        <i class="fa-solid fa-magnifying-glass-chart"></i>
      </div>
      <p><strong>Forsøk til riktig</strong></p>
      <div class="stats-buttons">
        <a href="{{
                    url_for('boa205_course_statistics.statistics_ch1_attempts_week')
                  }}" class="btn btn-primary btn-sm">Uke kapittel</a>
        <a href="{{
                    url_for('boa205_course_statistics.statistics_ch1_attempts_year')
                  }}" class="btn btn-primary btn-sm">År</a>
        <a
          href="#"
          class="btn btn-primary btn-sm"
          data-toggle="modal"
          data-target="#instructionsModalInstructions4"
          >Hjelp</a
        >
      </div>
    </div>      
        
    <!-- Siste svar -->
    <div
      class="stats-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="800"
      data-aos-once="true"
    >
      <div class="stats-icon">
        <i class="fa-solid fa-magnifying-glass-chart"></i>
      </div>
      <p><strong>Siste svar</strong></p>
      <div class="stats-buttons">
        <a href="{{
                    url_for('boa205_course_statistics.statistics_ch1_last_entry_week')
                  }}"
                  class="btn btn-primary btn-sm">Uke kapittel</a>
        <a href="{{
                    url_for('boa205_course_statistics.statistics_ch1_last_entry_year')
                  }}"
                  class="btn btn-primary btn-sm">År</a>
        <a
          href="#"
          class="btn btn-primary btn-sm"
          data-toggle="modal"
          data-target="#instructionsModalInstructions5"
          >Hjelp</a
        >
      </div>
    </div>
    
  </div>
</section>

<!-- Modal Instructions1 -->
<div class="modal" id="instructionsModalInstructions1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title", style="color:black">Første forsøk – Tid –</h5>
      </div>

      <div class="modal-body", style="color:black">
        <p>
          Her finner du riktige og gale svar for det første forsøket du har gjort på hvert spørsmål.
          <br>
          Du ser også tidsforskjellen mellom ditt første forsøk og det første riktige svaret blant alle de første forsøkene fra ALLE STUDENTENE.
          Hvis du er den første som svarer riktig på et spørsmål, er tidsforskjellen 00:00:00.
          Hvis du ikke svarte riktig på spørsmålet i første forsøk, er tidsforskjellen None.
          <br>
          Du har to valg.
            <ol>
                <li>
                    <strong>Kapittel:</strong>  Du ser statistikken for uken da dette kapittelet ble undervist. 
                    Dette gir deg informasjon om prestasjonene dine i løpet av akkurat den uken. 
                    Denne informasjonen kan være mer presis, siden du da kan motivere deg til å holde deg «på ballen» og følge kurset kapittel for kapittel.
                </li>
                </br>
                <li>
                    <strong>År:</strong> Du ser statistikken for hele året da dette kapittelet ble undervist. 
                    Det betyr at du får informasjon om alle datoene du har svart på spørsmål i kapittelet. 
                    Denne informasjonen kan være mer «støyende», siden du kan svare på spørsmålene når som helst i løpet av året.
                </li>
            </ol>
        </p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary btn-lg mr-2", style="background-color=#6c757d;" data-dismiss="modal">Lukke</button>
      </div>

    </div>
  </div>
</div>

<!-- Modal Instructions2 -->
<div class="modal" id="instructionsModalInstructions2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title", style="color:black">Første forsøket – Gjennomsnitt –</h5>
      </div>

      <div class="modal-body", style="color:black">
        <p>
          Her finner du riktige og gale svar for det første forsøket du har gjort på hvert spørsmål.
          <br>
          Du ser også gjennomsnittet av riktige svar på første forsøk for ALLE studentene. 
          Hvis gjennomsnittet er 0, betyr det at ALLE studentene har svart feil på det spørsmålet. 
          Hvis gjennomsnittet er 1, betyr det at ALLE studentene har svart riktig på det spørsmålet.
          <br>
          Du har to valg.
            <ol>
                <li>
                    <strong>Kapittel:</strong>  Du ser statistikken for uken da dette kapittelet ble undervist. 
                    Dette gir deg informasjon om prestasjonene dine i løpet av akkurat den uken. 
                    Denne informasjonen kan være mer presis, siden du da kan motivere deg til å holde deg «på ballen» og følge kurset kapittel for kapittel.
                </li>
                </br>
                <li>
                    <strong>År:</strong> Du ser statistikken for hele året da dette kapittelet ble undervist. 
                    Det betyr at du får informasjon om alle datoene du har svart på spørsmål i kapittelet. 
                    Denne informasjonen kan være mer «støyende», siden du kan svare på spørsmålene når som helst i løpet av året.
                </li>
            </ol>

        </p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary btn-lg mr-2", style="background-color=#6c757d;" data-dismiss="modal">Lukke</button>
      </div>

    </div>
  </div>
</div>

<!-- Modal Instructions3 -->
<div class="modal" id="instructionsModalInstructions3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title", style="color:black">Første riktige svar</h5>
      </div>

      <div class="modal-body", style="color:black">
        <p>
          Her finner du tidsforskjellen mellom ditt første riktige svar på hvert spørsmål og 
          tidspunktet for det første riktige svaret globalt.
          Hvis du aldri har svart riktig på et spørsmål, vil Dato for første riktige svar og Tidsforskjell vs. global 
          første korrekthet være None.
          <br>
          Du ser også den gjennomsnittlige tidsforskjellen mellom det første riktige svaret for ALLE studentene på hvert spørsmål og tidspunktet for det første riktige svaret globalt.
          <br>
          Du har to valg.
            <ol>
                <li>
                    <strong>Kapittel:</strong>  Du ser statistikken for uken da dette kapittelet ble undervist. 
                    Dette gir deg informasjon om prestasjonene dine i løpet av akkurat den uken. 
                    Denne informasjonen kan være mer presis, siden du da kan motivere deg til å holde deg «på ballen» og følge kurset kapittel for kapittel.
                </li>
                </br>
                <li>
                    <strong>År:</strong> Du ser statistikken for hele året da dette kapittelet ble undervist. 
                    Det betyr at du får informasjon om alle datoene du har svart på spørsmål i kapittelet. 
                    Denne informasjonen kan være mer «støyende», siden du kan svare på spørsmålene når som helst i løpet av året.
                </li>
            </ol>

        </p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary btn-lg mr-2", style="background-color=#6c757d;" data-dismiss="modal">Lukke</button>
      </div>

    </div>
  </div>
</div>

<!-- Modal Instructions4 -->
<div class="modal" id="instructionsModalInstructions4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title", style="color:black">Forsøk til riktig</h5>
      </div>

      <div class="modal-body", style="color:black">
        <p>
          Her finner du antall forsøk du brukte før du svarte riktig på hvert spørsmål. 
          Tallet 1 betyr at du svarte riktig på spørsmålet på første forsøk.
          <br>
          Du ser også det gjennomsnittlige antallet forsøk før riktig svar for ALLE studentene på hvert spørsmål.
          Tallet 1 betyr at alle studentene svarte riktig på spørsmålet på første forsøk.
          <br>
          Du har to valg.
            <ol>
                <li>
                    <strong>Kapittel:</strong>  Du ser statistikken for uken da dette kapittelet ble undervist. 
                    Dette gir deg informasjon om prestasjonene dine i løpet av akkurat den uken. 
                    Denne informasjonen kan være mer presis, siden du da kan motivere deg til å holde deg «på ballen» og følge kurset kapittel for kapittel.
                </li>
                </br>
                <li>
                    <strong>År:</strong> Du ser statistikken for hele året da dette kapittelet ble undervist. 
                    Det betyr at du får informasjon om alle datoene du har svart på spørsmål i kapittelet. 
                    Denne informasjonen kan være mer «støyende», siden du kan svare på spørsmålene når som helst i løpet av året.
                </li>
            </ol>
        </p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary btn-lg mr-2", style="background-color=#6c757d;" data-dismiss="modal">Lukke</button>
      </div>

    </div>
  </div>
</div> 

<!-- Modal Instructions5 -->
<div class="modal" id="instructionsModalInstructions5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title", style="color:black">Siste svar</h5>
      </div>

      <div class="modal-body", style="color:black">
        <p>
          Her finner du riktige og gale svar for det siste forsøket du har gjort på hvert spørsmål.
          <br>
          Du har to valg.
            <ol>
                <li>
                    <strong>Kapittel:</strong>  Du ser statistikken for uken da dette kapittelet ble undervist. 
                    Dette gir deg informasjon om prestasjonene dine i løpet av akkurat den uken. 
                    Denne informasjonen kan være mer presis, siden du da kan motivere deg til å holde deg «på ballen» og følge kurset kapittel for kapittel.
                </li>
                </br>
                <li>
                    <strong>År:</strong> Du ser statistikken for hele året da dette kapittelet ble undervist. 
                    Det betyr at du får informasjon om alle datoene du har svart på spørsmål i kapittelet. 
                    Denne informasjonen kan være mer «støyende», siden du kan svare på spørsmålene når som helst i løpet av året.
                </li>
            </ol>
        </p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary btn-lg mr-2", style="background-color=#6c757d;" data-dismiss="modal">Lukke</button>
      </div>

    </div>
  </div>
</div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  // Convert custom data attributes to real AOS attributes
  document.querySelectorAll("[data-aos='aos-fade-right']").forEach((el) => {
    el.setAttribute("data-aos", "aos-fade-right");
  });

  AOS.init({
    startEvent: 'DOMContentLoaded',
    once: true
  });
</script>

<section
  class="section_statistics_table_canvas"
  style="background-color: #2b4359"
>
  <div class="container">
    <div class="statistics_css">
      <div class="box">
        <div class="table-responsive-wrapper">
          <table class="table table_custom_table_canvas">
            <thead class="thead-dark">
              <tr>
                <th scope="col" class="align-top">Bruker</th>
                <th scope="col" class="align-top">Spørsmålsnummer</th>
                <th scope="col" class="align-top">Resultat (første påmelding)</th>
                <th scope="col" class="align-top">Dato for første oppføring</th>
                <th scope="col" class="align-top">
                  Dato først riktig blant første oppføringer
                </th>
                <th scope="col" class="align-top">
                  Tidsforskjell brukersvar og første riktige svar
                </th>
                <th scope="col" class="align-top">Lenkeøvelse</th>
              </tr>
            </thead>
            <tbody>
              {% for row in
              current_user_all_questions_time_user_first_entry_and_first_correct_per_question_call
              %}
              <tr>
                <td>{{ current_user.username }}</td>
                <td>{{ row.question_num }}</td>
                <td>
                  {% if row.question_result == 1 %} ✅ Correct {% else %} ❌
                  Incorrect {% endif %}
                </td>
                <td>
                  {{ row["Date First Entry"].strftime('%Y-%m-%d %H:%M:%S') }}
                </td>
                <td>
                  {% if row["First Correct Entry (First Attempt Global)"] %} {{
                  row["First Correct Entry (First Attempt Global)"] }} {% else %}
                  <span class="none">None</span>
                  {% endif %}
                </td>
                <td>
                  {% if row["Time Difference vs First Correct (First Attempt)"] is not none %} {{
                  row["Time Difference vs First Correct (First Attempt)"] | string }} {% else %}
                  <span class="none">None</span>
                  {% endif %}
                </td>
                <td>
                  <a
                    href="{{
                      url_for('boa205_course_chapters.boa205_course_chapters_ch1')
                    }}"
                    class="btn btn-outline-warning btn-sm mobile-adjust-btn"
                    >Lenk</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="box">
        <canvas id="correct_vs_incorrect"></canvas>
      </div>
    </div>
  </div>
</section>

{% block javascript2 %}
<script>
  const correct_vs_incorrect_ctx = document.getElementById("correct_vs_incorrect").getContext("2d");

  new Chart(correct_vs_incorrect_ctx, {
      type: "pie",
      data: {
          labels: ["Riktig", "Feil"],
          datasets: [{
              label: "Riktig vs Feil",
              data: [{{ correct }}, {{ incorrect }}],
              backgroundColor: ["#007bff", "#fd7e14"],
              borderWidth: 2,
              borderColor: "#000000",
              hoverBorderColor: "#000000",
              hoverBorderWidth: 3,
              hoverBackgroundColor: ["#28a745", "#28a745"]
          }]
      },
      options: {
          plugins: {
              title: {
                  display: true,
                  text: "Resultat (første påmelding)",
                  color: "#000000",
                  font: {
                      size: 20,
                      weight: "bold"
                  }
              },
              legend: {
                  position: "right",
                  labels: {
                      color: "#000000",
                      font: {
                          size: 14,
                          weight: "bold"
                      }
                  }
              }
          },
          layout: {
              padding: 10
          },
          elements: {
              arc: {
                  borderWidth: 2
              }
          }
      }
  });
</script>

{% endblock%}


{% endblock content %}
