{% extends "gd_course/NHH_2026_group3/layout.html" %}
{% block content %}

<section class="new_entry">
  <div class="container">
      <div class="box">

      </div>

      <div class="box">   
        <div class="h1 mb-3" style="text-align: center;">
          <i class="fa-solid fa-bicycle"></i>
        </div>
        <h3>Bicycle</h3>
        <p>
          <ol style="text-align: left;">
            <li>
              Please, enter the number of kilometers.
            </li>
          </ol>
        </p>
          <form method="POST" action="">
              {{ form.csrf_token }}
              <fieldset class="form-group">

                <div class="form-group">
                    {{ form.kms.label(class="form-control-label") }}
                    {% if form.kms.errors %}
                        {{ form.kms(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.kms.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.kms(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.fuel_type.label(class="form-control-label") }}
                    {% if form.fuel_type.errors %}
                        {{ form.fuel_type(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.fuel_type.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.fuel_type(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

              </fieldset>
              </br>
              <div class="form-group">
                {{ form.submit(class="btn_carbon_app_new_entry_main") }}
              </div>
          </form>
      </div>

      
      <div class="box">
        <h3>Our Methodology</h3>
        <p style="text-align: left;">
         Bicycles are a human-powered form of transport that produces no direct emissions. They are widely considered one of the most environmentally friendly ways to travel short distances.
        </p>

        <p style="text-align: left;">
          <strong>Using the formula:</strong>
          <br>
          \(CO_{2} = \text{Distance travelled} \cdot \text{Emissions per kilometers}\)
        </p>

        <p style="text-align: left;">
          <strong>Emission factor:</strong>
          <br>
          No Fossil Fuel: 0 kg/km
        </p>
      </div>
  </div>
</section> 

{% endblock content %}
