{% extends "gd_course/NHH_2025_group3/layout.html" %} {% block content %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Carbon Footprint App</title>
  <link
    rel="stylesheet"
    href="{{url_for('static', filename='/gd_course_NHH_2025_group3/styles/methodology.css')}}"
  />
</head>

<h1>Our Methodology</h1>
<a href="{{url_for('gd_course_NHH_2025_group3.download')}}" class="btn-solid"
  >Download our paper!</a
><br />
<div class="grid">
  <div class="box full-width">
    <h2>Understanding Carbon Footprints</h2>
    <p>
      How Do We Calculate Carbon Emissions?<br />
      Our approach to calculating carbon emissions involves considering various
      factors such as fuel type, distance traveled, and energy efficiency. We
      utilize established formulas that comply with Euro Emissions Standards to
      ensure accuracy and reliability. By inputting trip details such as
      distance, vehicle type, fuel type, and the number of passengers, users can
      calculate their emissions and compare different transport options like
      cars, bikes, and public transport.<br /><br />
      We use this General Formula for each means of transport:<br />
      \( CO_2 = d * \frac{fe}{p} \)<br />
      \( fe = \) Emission Factor in \( CO_2 / km \)<br />
      \( d = \) Distance<br />
      \( p = \) Amount of Passengers
    </p>
  </div>

  <div class="box">
    <h2>Cars</h2>
    <p>
      According to the Worldwide Harmonised Light Vehicles Test Procedures
      (WLTP) in 2019, CO2 emissions for cars by fuel type are the following:<br />
      Gasoline: 120 – 180 g/km<br />
      Diesel: 100 – 160 g/km<br />
      Hybrid (gasoline): 50 – 100 g/km<br />
      Electric: 26 g/km (tailpipe) - but depends on electricity generation<br />
      LPG / CNG: 100 - 130 g/km<br /><br />
      Example to understand with a gasoline car:<br />
      If it consumes 6 L / 100 km, it emits approximately:<br /><br />
      6 L × 2.3 kg CO₂/L = 13.8 kg CO₂ / 100 km<br />
      Or 138 g CO₂ / km<br />
      (Gasoline produces approximately 2.3 kg of CO₂ per litre burnt, diesel
      ~2.6 kg/L).
    </p>
  </div>

  <div class="box">
    <h2>Buses</h2>
    <p>
      According to a study of Chalmers tekniska högskola - Metodrapport för
      Klimatsmartsemester version 4.1 and NHO Transport:<br /><br />
      Diesel bus: 30 g/km<br />
      Electric train in the Nordic Countries: 13 g/km
    </p>
  </div>

  <div class="box">
    <h2>Airplanes</h2>
    <p>
      The French agency of the ecological transition (ADEME) has calculated CO2
      emissions for flights:<br />
      Domestic flights (less than 600 km): 250–300 g CO₂/km. Bergen-Oslo for
      example<br />
      Short hauls (600–3700 km): 150–200 g CO₂/km. Bergen-Paris for example<br />
      Long hauls (>3700 km): 90–130 g CO₂/km. Oslo-New York for example<br /><br />
      It is important to note that these figures vary according to the type of
      aircraft, the load factor and the class of travel. For example, the
      business class can emit 2 to 3 times more than the economic class, because
      one seat occupies more space in the aircraft. For one row of seats, we can
      fit six seats of economic class and only two or three of business class.
      However, the plane needs the same amount of fuel to fly the same distance.
    </p>
  </div>

  <div class="box">
    <h2>Trains</h2>
    <p>
      In Norway, bus transportation is managed through a collaboration among
      several companies. We will incorporate data provided by Vy. Specifically,
      the emission factor for electric buses will be directly sourced from Vy's
      data.<br /><br />
      Non-renewable energy:<br />
      Diesel: 27 g/km<br />
      Biodiesel: 14 g/km<br />
      Electric train in the Nordic countries: 13 g/km
    </p>
  </div>

  <div class="box">
    <h2>Motorbike & E-bike</h2>
    <p>
      Motorbike: engine size and emissions:<br />
      Electric scooter: 0 g/km (direct)<br />
      Small scooter (≤125cc) (Light city usage, efficient): 60–100 g/km<br />
      Medium motorcycle (125–500cc) (Urban + peri-urban use): 90–150 g/km<br />
      Large motorcycle (≥500cc) (Touring, highway bikes): 130–200+ g/km<br /><br />
      A motorbike is generally a bit better than a car in CO₂/km, especially
      small scooters.<br />
      BUT! Motorbikes emit more of certain local air pollutants (like CO, HC,
      and NOx) than modern cars, especially older models or 2-stroke engines.
    </p>
  </div>

  <div class="box">
    <h2>Walking</h2>
    <p>
      Walking and using bikes produce zero emissions, making them the most
      environmentally friendly modes of transportation.
    </p>
  </div>

  <div class="full-width box">
    <h2>Euro Emissions Standards</h2>
    <p>
      Our calculations adhere to Euro Emissions Standards, which set strict
      limits on pollutant emissions from vehicles. These standards ensure that
      our estimates are accurate and comply with regulatory requirements,
      providing users with reliable data to make informed decisions about their
      transportation choices.
    </p>
  </div>
</div>

{% endblock content %}
