{% extends "es_course/es_course_layout.html" %} {% block content %}

<!-- students_apps_main -->
<section class="section_students_apps_main">
  <div class="container">
    <div class="students_apps_main">
      <div class="box">
        <div class="h1 mb-3" style="text-align: center">
          <i class="fa-solid fa-lightbulb"></i>
        </div>
        <h3>Apps 2024</h3>
        <p>
          Aquí puedes <strong>utilizar</strong> las apps desarrolladas por las
          estudiantes en el año 2024.
        </p>
        <div class="section_container_buttons_students_apps_main">
          <a
            class="btn_students_apps_main"
            href="{{url_for('es_course_students_apps.es_students_apps_home_2024')}}"
            >Apps 2024</a
          >
        </div>
      </div>
      <div class="box">
        <div class="h1 mb-3" style="text-align: center">
          <i class="fa-solid fa-lightbulb"></i>
        </div>
        <h3>Apps 2025</h3>
        <p>
          Aquí puedes <strong>utilizar</strong> las apps desarrolladas por las
          estudiantes en el año 2025.
        </p>
        <div class="section_container_buttons_students_apps_main">
          <a class="btn_students_apps_main" href="#">Apps 2025</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
