{% extends "es_course/es_course_layout.html" %} {% block content %}

<!-- light_talk_app_new_entry_main -->
<section class="section_light_talk_app_new_entry_main">
  <div class="container">
    <div class="light_talk_app_new_entry_main">
      <div class="box">
        <div class="h1 mb-3" style="text-align: center">
          <i class="fa-solid fa-lightbulb"></i>
        </div>
        <h3>Grupo 1</h3>
        <p>
          Esta es la app desarrollada por el grupo de estudiantes formado por:
        </p>
        <ul style="text-align: left">
          <li>Estudiante uno ...</li>
        </ul>
        <div class="section_container_buttons_light_talk_app_new_entry_main">
          <a class="btn_light_talk_app_new_entry_main" href="#">Grupo 1</a>
        </div>
      </div>
      <div class="box">
        <div class="h1 mb-3" style="text-align: center">
          <i class="fa-solid fa-lightbulb"></i>
        </div>
        <h3>Grupo 2</h3>
        <p>
          Esta es la app desarrollada por el grupo de estudiantes formado por:
        </p>
        <ul style="text-align: left">
          <li>Estudiante uno ...</li>
        </ul>
        <div class="section_container_buttons_light_talk_app_new_entry_main">
          <a class="btn_light_talk_app_new_entry_main" href="#">Grupo 2</a>
        </div>
      </div>
      <div class="box">
        <div class="h1 mb-3" style="text-align: center">
          <i class="fa-solid fa-lightbulb"></i>
        </div>
        <h3>Grupo 3</h3>
        <p>
          Esta es la app desarrollada por el grupo de estudiantes formado por:
        </p>
        <ul style="text-align: left">
          <li>Estudiante uno ...</li>
        </ul>
        <div class="section_container_buttons_light_talk_app_new_entry_main">
          <a class="btn_light_talk_app_new_entry_main" href="#">Grupo 3</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
