html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lexend', sans-serif;
  padding-top: 80px;
  color: #e1d2bc;
}
.image-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 0;
}
#bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #b4d5a10d;
  padding: 10px 0;
  z-index: 10;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-menu {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}
.navbar a {
  text-decoration: none;
  color: #dabf86;
  font-size: clamp(1rem, 2vw, 2em);
  font-weight: normal;
  transition: color 0.3s ease;
}
.navbar a:hover {
  color: #ffffff;
}
.navbar a.active {
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  text-shadow: 0 0 5px #b5935d,0 0 10px #b5935d,0 0 20px #b5935d,0 0 40px #b5935d;
  transition: all 0.3s ease;
}
.logout-button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #e9d3a7;
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 0 0 4px #764f14;
  text-decoration: none;
  transition: all 0.3s ease;
}
.logout-button:hover {
  color: #ffffff;
  text-shadow: none;
}
.image-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
#bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bus-emission-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 60px 20px 120px;
  text-align: center;
}
.bus-emission-container h1 {
  font-size: clamp(1.5rem, 3vw, 2rem);
  color: rgb(252, 240, 219);
  margin-bottom: 10px;
}
.subtitle {
  color: rgb(252, 240, 219);
  margin-bottom: 30px;
}
.form-card {
  background-color: rgb(118, 79, 20);
  padding: 30px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(118, 79, 20, 0.4);
  backdrop-filter: blur(4px);
}
.form-group {
  margin-bottom: 20px;
  text-align: center;
}
.form-label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: rgb(252, 240, 219);
}
.form-input {
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 1em;
  align-self: center;
}
.form-input.is-invalid {
  border: 2px solid #ff6666;
}
.error-msg {
  color: #ff9999;
  font-size: 0.9em;
  margin-top: 5px;
}
.form-input option:nth-child(odd) {
    background-color: white;
}
.form-input option:nth-child(even) {
    background-color: rgb(238, 238, 238);
}
.btn-submit {
  background-color: #248933;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-submit:hover {
  text-decoration: underline;
}
.back-link {
  margin-top: 25px;
}
.back-link a {
  color:#e6dccd;
  text-decoration: none;
  font-weight: bold;
  background-color:rgb(118, 79, 20);
  padding: 8px;
  border-radius: 10px;
}
.back-link a:hover {
  text-decoration: underline;
}
.footer-container {
  background-color: rgb(118, 79, 20);
  backdrop-filter: blur(10px);
}
.back-bar {
  background-color: rgb(118, 79, 20);
}
