{% extends "gd_course/NHH_2026_group5/layout.html" %}
{% block content %}
  
<!-- Wave-->
<section class="dashboardHero">
  <svg class="heroWave" viewBox="0 0 1440 120" preserveAspectRatio="none">
    <path fill="#e3f5f4"
      d="M0,40 C200,80 400,0 700,30 C1000,60 1200,10 1440,40 L1440,120 L0,120 Z">
    </path>
  </svg>
</section>

<!-- Log in section-->
<section class="register_section_css">
    <div class="container">
    <header class="page-header">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="page-center">
            <div class="input-group">
            <fieldset class='form-group'>
                <legend class="border-bottom mb-4">Welcome to our <span style="color:teal">app!</legend>
            <div class="form-group">
                {{ form.email.label(class='form-control-label') }}
                {% if form.email.errors %}
                    {{ form.email(class='form-control form-control-lg is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class='form-control form-control-lgs') }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class='form-control-label') }}
                {% if form.password.errors %}
                    {{ form.password(class='form-control form-control-lg is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class='form-control form-control-lgs') }}
                {% endif %}
            </div>
            </fieldset>
            <br>
            <div class="form-group">
                {{ form.submit(class='btn btn-outline') }}
            </div>
            </div>
            </div>
        </form>
     </div>
</section> 

{% endblock content %}