{% extends "gd_course/NHH_2026_group5/layout.html" %} {% block content %}

<section class="dashboardHero">
  <svg class="heroWave" viewBox="0 0 1440 120" preserveAspectRatio="none">
    <path
      fill="#e3f5f4"
      d="M0,40 C200,80 400,0 700,30 C1000,60 1200,10 1440,40 L1440,120 L0,120 Z"
    ></path>
  </svg>
</section>

<section class="tranportLayout">
  <!-- Info about usertype and transportation-->
  <div class="entryHeader">
    <p class="entryTag">{{ user_type|title }} transport</p>
    <h1>{{ transport|replace('_', ' ')|title }} emissions calculator</h1>
    <p class="entrySubtitle">
      Enter your transport details to estimate emissions.
    </p>
  </div>
  <div class="entryWrapper">
    <!-- The form for transportation -->
    <section class="entryInputForm">
      <div class="containerTransportation">
        <!-- Individual -->
        {% if transport == "car" %}
        <div class="transportContainer">
          <h2>Car emissions</h2>
          <form
            class="transportForm"
            action="{{ url_for('gd_course_NHH_2026_group5.entry_home', user_type=user_type, transport=transport) }}"
            method="POST"
          >
            <div class="formGroup">
              <label for="kms">Kilometers</label>
              <input
                type="number"
                name="kms"
                placeholder="Enter distance in km"
                min="0"
                required
              />
            </div>

            <div class="formGroup">
              <label for="fuel">Fuel type</label>
              <select name="fuel" required>
                <option value="" disabled selected>Select fuel</option>
                <option value="diesel">Diesel</option>
                <option value="petrol">Petrol</option>
                <option value="electric">Electric</option>
              </select>
            </div>

            <button class="submitBtn" type="submit">Calculate</button>
          </form>
        </div>

        {% elif transport == "plane" %}
        <div class="transportContainer">
          <h2>Plane emissions</h2>
          <form
            class="transportForm"
            action="{{ url_for('gd_course_NHH_2026_group5.entry_home', user_type=user_type, transport=transport) }}"
            method="POST"
          >
            <div class="formGroup">
              <label for="kms">Kilometers</label>
              <input
                type="number"
                name="kms"
                id="kms"
                placeholder="Enter distance in km"
                min="0"
                required
              />
            </div>
            <div class="formGroup">
              <label for="cabin_class">Cabin class</label>
              <select name="cabin_class" required>
                <option value="" disabled selected>Select cabin class</option>
                <option value="economy">Economy</option>
                <option value="business">Business</option>
              </select>
            </div>
            <div class="formGroup">
              <label for="aircraft_type">Aircraft size</label>
              <select name="aircraft_type" required>
                <option value="" disabled selected>Select aircraft size</option>
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="big">Big</option>
              </select>
            </div>

            <button class="submitBtn" type="submit">Calculate</button>
          </form>
        </div>

        {% elif transport == "ferry" %}
        <div class="transportContainer">
          <h2>Ferry emissions</h2>
          <form
            class="transportForm"
            action="{{ url_for('gd_course_NHH_2026_group5.entry_home', user_type=user_type, transport=transport) }}"
            method="POST"
          >
            <div class="formGroup">
              <label for="kms"> Kilometers</label>
              <input
                type="number"
                name="kms"
                id="kms"
                placeholder="Enter distance in km"
                min="0"
                required
              />
            </div>

            <div class="formGroup">
              <label for="ferry_type">Ferry type</label>
              <select name="ferry_type" id="ferry_type" required>
                <option value="" disabled selected>Select ferry type</option>
                <option value="diesel">Diesel</option>
                <option value="lng">LNG Natural Gas</option>
              </select>
            </div>

            <button class="submitBtn" type="submit">Calculate</button>
          </form>
        </div>

        {% elif transport == "bus" %}
        <div class="transportContainer">
          <h2>Bus emissions</h2>
          <form
            class="transportForm"
            action="{{ url_for('gd_course_NHH_2026_group5.entry_home', user_type=user_type, transport=transport) }}"
            method="POST"
          >
            <div class="formGroup">
              <label for="kms"> Kilometers</label>
              <input
                type="number"
                name="kms"
                id="kms"
                placeholder="Enter distance in km"
                min="0"
                required
              />
            </div>

            <div class="formGroup">
              <label for="fuel">Fuel type</label>
              <select name="fuel" id="fuel" required>
                <option value="" disabled selected>Select fuel</option>
                <option value="diesel">Diesel</option>
                <option value="electric">Electric</option>
              </select>
            </div>

            <button class="submitBtn" type="submit">Calculate</button>
          </form>
        </div>

        {% elif transport == "train" %}
        <div class="transportContainer">
          <h2>Train emissions</h2>
          <form
            class="transportForm"
            action="{{ url_for('gd_course_NHH_2026_group5.entry_home', user_type=user_type, transport=transport) }}"
            method="POST"
          >
            <div class="formGroup">
              <label for="kms">Kilometers</label>
              <input
                type="number"
                name="kms"
                id="kms"
                placeholder="Enter distance in km"
                min="0"
                required
              />
            </div>

            <div class="formGroup">
              <label for="train_type">Train type</label>
              <select name="train_type" id="train_type" required>
                <option value="" disabled selected>Select train type</option>
                <option value="electric">Electric</option>
                <option value="diesel">Diesel</option>
              </select>
            </div>

            <button class="submitBtn" type="submit">Calculate</button>
          </form>
        </div>

        {% elif transport == "bybane" %}
        <div class="transportContainer">
          <h2>Bybane emissions</h2>
          <form
            class="transportForm"
            action="{{ url_for('gd_course_NHH_2026_group5.entry_home', user_type=user_type, transport=transport) }}"
            method="POST"
          >
            <div class="formGroup">
              <label for="kms">Kilometers</label>
              <input
                type="nummer"
                name="kms"
                id="kms"
                placeholder="Enter distance in km"
                min="0"
                required
              />
            </div>

            <div class="formGroup">
              <label for="fuel">Fuel type</label>
              <select name="fuel" required>
                <option value="" disabled selected>Select fuel</option>
                <option value="electric">Electric</option>
              </select>
            </div>

            <button class="submitBtn" type="submit">Calculate</button>
          </form>
        </div>

        {% elif transport == "motorcycle" %}
        <div class="transportContainer">
          <h2>Motorcycle emissions</h2>
          <form
            class="transportForm"
            action="{{ url_for('gd_course_NHH_2026_group5.entry_home', user_type=user_type, transport=transport) }}"
            method="POST"
          >
            <div class="formGroup">
              <label for="kms">Kilometers</label>
              <input
                type="number"
                name="kms"
                id="kms"
                placeholder="Enter distance in km"
                min="0"
                required
              />
            </div>

            <div class="formGroup">
              <label for="fuel">Fuel type</label>
              <select name="fuel" id="fuel" required>
                <option value="" disabled selected>Select fuel</option>
                <option value="petrol">Petrol</option>
                <option value="electric">Electric</option>
              </select>
            </div>

            <button class="submitBtn" type="submit">Calculate</button>
          </form>
        </div>

        {%elif transport == "bicycle"%}
        <div class="transportContainer">
          <h2>Bicycle emissions</h2>
          <form
            class="transportForm"
            action="{{ url_for('gd_course_NHH_2026_group5.entry_home', user_type=user_type, transport=transport) }}"
            method="POST"
          >
            <div class="formGroup">
              <label for="kms">Kilometers</label>
              <input
                type="number"
                name="kms"
                id="kms"
                placeholder="Enter distance in km"
                min="0"
                required
              />
            </div>

            <div class="formGroup">
              <label for="bicycle_type">Bicycle type</label>
              <select name="bicycle_type" id="bicycle_type" required>
                <option value="" disabled selected>Select bicycle type</option>
                <option value="regular">Regular bicycle</option>
                <option value="electric">Electric bicycle (e-bike)</option>
              </select>
            </div>

            <button class="submitBtn" type="submit">Calculate</button>
          </form>
        </div>

        {%elif transport =="walking" %}
        <div class="transportContainer">
          <h2>Walking</h2>
          <form
            class="transportForm"
            action="{{ url_for('gd_course_NHH_2026_group5.entry_home', user_type=user_type, transport=transport) }}"
            method="POST"
          >
            <div class="formGroup">
              <label for="kms">Kilometers</label>
              <input
                type="number"
                name="kms"
                id="kms"
                placeholder="Enter distance in km"
                min="0"
                required
              />
            </div>

            <button class="submitBtn" type="submit">Calculate</button>
          </form>
        </div>

        <!---Business -->

        {% elif transport == "truck" %}
        <div class="transportContainer">
          <h2>Truck emissions</h2>
          <form
            class="transportForm"
            action="{{ url_for('gd_course_NHH_2026_group5.entry_home', user_type=user_type, transport=transport) }}"
            method="POST"
          >
            <div class="formGroup">
              <label for="kms">Kilometers</label>
              <input
                type="number"
                name="kms"
                id="kms"
                placeholder="Enter distance in km"
                min="0"
                required
              />
            </div>

            <div class="formGroup">
              <label for="load">Load (kg)</label>
              <input
                type="number"
                name="load"
                id="load"
                placeholder="Enter load in kg"
                min="0"
                required
              />
            </div>

            <div class="formGroup">
              <label for="fuel">Fuel type</label>
              <select name="fuel" id="fuel" required>
                <option value="" disabled selected>Select fuel</option>
                <option value="diesel">Diesel</option>
                <option value="biodiesel">Biodiesel</option>
                <option value="electric">Electric</option>
                <option value="hydrogen">Hydrogen</option>
              </select>
            </div>

            <button class="submitBtn" type="submit">Calculate</button>
          </form>
        </div>

        {% elif transport == "van" %}
        <div class="transportContainer">
          <h2>Van emissions</h2>
          <form
            class="transportForm"
            action="{{ url_for('gd_course_NHH_2026_group5.entry_home', user_type=user_type, transport=transport) }}"
            method="POST"
          >
            <div class="formGroup">
              <label for="kms">Kilometers</label>
              <input
                type="number"
                name="kms"
                id="kms"
                placeholder="Enter distance in km"
                min="0"
                required
              />
            </div>

            <div class="formGroup">
              <label for="fuel">Fuel type</label>
              <select name="fuel" id="fuel" required>
                <option value="" disabled selected>Select fuel</option>
                <option value="diesel">Diesel</option>
                <option value="biodiesel">Biodiesel</option>
                <option value="electric">Electric</option>
                <option value="hydrogen">Hydrogen</option>
              </select>
            </div>

            <button class="submitBtn" type="submit">Calculate</button>
          </form>
        </div>

        {% elif transport == "cargo_plane" %}
        <div class="transportContainer">
          <h2>Cargo plane emissions</h2>
          <form
            class="transportForm"
            action="{{ url_for('gd_course_NHH_2026_group5.entry_home', user_type=user_type, transport=transport) }}"
            method="POST"
          >
            <div class="formGroup">
              <label for="kms">Kilometers</label>
              <input
                type="number"
                name="kms"
                id="kms"
                placeholder="Enter distance in km"
                min="0"
                required
              />
            </div>

            <div class="formGroup">
              <label for="cargo_weight"> Cargo weight (kg) </label>
              <input
                type="number"
                name="cargo_weight"
                id="cargo_weight"
                placeholder="Enter cargo weight in kg"
                min="0"
                required
              />
            </div>

            <div class="formGroup">
              <label>Cargo type</label>
              <select name="cargo_type" required>
                <option value="" disabled selected>Select type</option>
                <option value="dedicated">Dedicated cargo plane</option>
                <option value="belly">Belly cargo (passenger plane)</option>
              </select>
            </div>

            <div class="formGroup">
              <label for="fuel">Fuel type</label>
              <select name="fuel" id="fuel" required>
                <option value="" disabled selected>Select fuel</option>
                <option value="jet_fuel">Jet fuel</option>
                <option value="saf">Sustainable aviation fuel (SAF)</option>
              </select>
            </div>

            <button class="submitBtn" type="submit">Calculate</button>
          </form>
        </div>

        {% elif transport == "rail" %}
        <div class="transportContainer">
          <h2>Rail Freight emissions</h2>
          <form
            class="transportForm"
            action="{{ url_for('gd_course_NHH_2026_group5.entry_home', user_type=user_type, transport=transport) }}"
            method="POST"
          >
            <div class="formGroup">
              <label for="kms">Kilometers</label>
              <input
                type="number"
                name="kms"
                id="kms"
                placeholder="Enter distance in km"
                min="0"
                required
              />
            </div>
            <div class="formGroup">
              <label for="cargo_weight"> Cargo weight (kg)</label>
              <input
                type="number"
                name="cargo_weight"
                id="cargo_weight"
                placeholder="Enter cargo weight in kg"
                min="0"
                required
              />
            </div>

            <div class="formGroup">
              <label for="fuel">Rail type</label>
              <select name="fuel" id="fuel" required>
                <option value="" disabled selected>Select fuel</option>
                <option value="electric">Electric</option>
                <option value="diesel">Diesel</option>
              </select>
            </div>

            <button class="submitBtn" type="submit">Calculate</button>
          </form>
        </div>

        {% elif transport == "maritime" %}
        <div class="transportContainer">
          <h2>Maritime emissions</h2>
          <form
            class="transportForm"
            action="{{ url_for('gd_course_NHH_2026_group5.entry_home', user_type=user_type, transport=transport) }}"
            method="POST"
          >
            <div class="formGroup">
              <label for="kms">Distance (km)</label>
              <input
                type="number"
                name="kms"
                id="kms"
                placeholder="Enter distance in km"
                min="0"
                required
              />
            </div>

            <div class="formGroup">
              <label for="cargo_weight">Cargo weight (kg)</label>
              <input
                type="number"
                name="cargo_weight"
                id="cargo_weight"
                placeholder="Enter cargo weight in kg"
                min="0"
                required
              />
            </div>

            <div class="formGroup">
              <label for="fuel">Maritime type</label>
              <select name="fuel" id="fuel" required>
                <option value="" disabled selected>Select fuel</option>
                <option value="marine_diesel">Marine diesel</option>
                <option value="lng">LNG</option>
                <option value="biofuel">Biofuel</option>
              </select>
            </div>

            <button class="submitBtn" type="submit">Calculate</button>
          </form>
        </div>

        {% elif transport == "pipeline" %}
        <div class="transportContainer">
          <h2>Pipeline emissions</h2>
          <form
            class="transportForm"
            action="{{ url_for('gd_course_NHH_2026_group5.entry_home', user_type=user_type, transport=transport) }}"
            method="POST"
          >
            <div class="formGroup">
              <label for="volume">Volume transported</label>
              <input
                type="number"
                name="volume"
                id="volume"
                placeholder="e.g. 100 m³"
                min="0"
                required
              />
            </div>
            <div class="formGroup">
              <label for="distance">Distance (km)</label>
              <input
                type="number"
                name="distance"
                id="distance"
                placeholder="Enter distance in km"
                required
              />
            </div>

            <div class="formGroup">
              <label for="energy_source">Energy source</label>
              <select name="energy_source" id="energy_source" required>
                <option value="" disabled selected>Select energy source</option>
                <option value="electricity">Electricity</option>
                <option value="fossil_energy">Fossil energy</option>
              </select>
            </div>

            <button class="submitBtn" type="submit">Calculate</button>
          </form>
        </div>

        {% endif %}
      </div>
    </section>
  </div>
</section>

{% endblock content %}
