.register_section_css{
    background: linear-gradient(
    180deg,
    #e3f5f4 0%,
    #f0fbfb 20%,
    #ffffff 45%,
    #f7f9f8 60%,
    #ffffff 75%,
    #e8f8f7 90%,
    #e3f5f4 100%
    );
}


.input-group input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f0f0f0;
    font-size: 14px;
    width: 100%;         /* inputs stretch to fill the box */
    box-sizing: border-box;
    outline: none;
}

.input-box {
    display: flex;
    flex-direction: column;  /* stacks inputs on top of each other */
    gap: 10px;               /* space between inputs */
    padding: 30px;
    border: 2px solid #2a4359;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 500px;
    position: sticky;
    top: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.page-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}