
/* Header video Carbon app */
.carb_video{ position: relative; width: 100%; background: #EAFFE5; }
.carb_video video{
  display: block;
  width: 100%;
  height: auto;       
  object-fit: contain;       
}

/* Fargepalett:
Kvit: #fff (bakgrunn)
Dark green: #173B33 (teksten og strek tekst)
Light green: #EAFFE5 (Bakgrunn)
*/

/* Utilities  */
html,body{ 
font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
color: #EAFFE5;
}

h1{
font-size: 30px;
font-weight: 700;
color: #254b43;
text-align: left
}

p {
  margin: 10px 0;
  font-size: 18px;
  text-align: left;
}
h4 {
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}
/* Section header */
.section_header_carbon_app {
  background-color:#EAFFE5;
}
.header_carbon_app {
  display: flex;  
  align-items: start;
  background: #EAFFE5;
}
.header_carbon_app .box {
  flex: 1;
  background: #EAFFE5;
  color: #fff;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
  align-items: center;
  justify-content: center;
}
.header_carbon_app .box:nth-of-type(1) {
  flex-grow:2;
}
.header_carbon_app .box:nth-of-type(2) {
  flex-grow:1;
}
.container_buttons_links_header_carbon_app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}
.container_buttons_links_header_carbon_app a:hover {
  color: #EAFFE5;
  border: 2px solid  #49736f;
}
.container_buttons_links_header_carbon_app.btn {
  width: 100px;
  height: 100px;
  background: #EAFFE5;
  color: #fff;
  display: flex;
  justify-content:center;
  align-items:center;
}

/* Nora sin koding:*/
/* Section carbon_app_new_entry_main */
.section_carbon_app_new_entry_main {
  background-color:#eaffe5;
}
.carbon_app_new_entry_main {
  display: flex;  
  align-items: start;
  background: #eaffe5;
}
.carbon_app_new_entry_main .box {
  flex: 1;
  background: #cdeccd;
  color: black;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
  align-items: center;
  justify-content: center;
}
.carbon_app_new_entry_main .box:nth-of-type(1) {
  flex-grow:3;
}
.carbon_app_new_entry_main .box:nth-of-type(2) {
  flex-grow:3;
}
.carbon_app_new_entry_main .box:nth-of-type(3) {
  flex-grow:3;
}
.carbon_app_new_entry_main .box:nth-of-type(4) {
  flex-grow:3;
}
.section_container_buttons_carbon_app_new_entry_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  padding: 0px 0px;
  margin: 0px 0px;
}
.btn_carbon_app_new_entry_main {
  padding: 12px 25px;
  margin: 10px 10px 10px 10px;
  color: #1c1c1c;
  border-radius: 25px;
  text-decoration: none;
  font-size: 18px;
  background-color: #eaffe5;
  border: 2px solid  #EAFFE5;
}
.btn_carbon_app_new_entry_main:hover {
  color: #568c63;
  background-color: #EAFFE5;
  border: 2px solid #EAFFE5;
  text-decoration: none;
}
/*Container new_entry */
.new_entry {
  display: flex;
  background: #eaffe5;
  }  
.new_entry .container {
  display: flex;
  background: #eaffe5;
}
.new_entry .container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.new_entry .container .box {
  flex: 1;
  background: #c5c8d9;
  border-radius: 2px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.new_entry .container  .box:nth-of-type(1) {
  flex-grow:1;
  background: #fff;
  border-radius: 10px;
  margin: 0px 0px;
  padding: 0px 0px;
  text-align:left;
}  
.new_entry .container  .box:nth-of-type(2) {
  flex-grow:6;
  max-width: 450px;
  background: #cdeccd;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.new_entry .container  .box:nth-of-type(3) {
  flex-grow:1;
  background: #fff;
  border-radius: 10px;
  margin: 0px 0px;
  padding: 0px 0px;
  text-align:left;
}
/*Container table_main */
.table_main {
  display: flex;
  background: #eaffe5;
  }  
.table_main .container {
  display: flex;
  background: #eaffe5;
}
.table_main .container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.table_main .container .box {
  flex: 1;
  background: #eaffe5;
  border-radius: 2px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.table_main .container  .box:nth-of-type(1) {
  flex-grow:1;
  background: #fff;
  border-radius: 10px;
  margin: 0px 0px;
  padding: 0px 0px;
  text-align:left;
}  
/* Der dataen blir displayd */
.table_main .container  .box:nth-of-type(2) {
  flex-grow:6;
  background: #cdeccd;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.table_main .container  .box:nth-of-type(3) {
  flex-grow:1;
  background: #fff;
  border-radius: 10px;
  margin: 0px 0px;
  padding: 0px 0px;
  text-align:left;
}
/*End container table_main*/
/*Container main menu */
.main_menu {
  display: flex;
  background: #eaffe5;
  }  
.main_menu .container {
  display: flex;
  background: #eaffe5;
}
.main_menu .container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.main_menu .container .box {
  flex: 1;
  background: #c5c8d9;
  border-radius: 2px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.main_menu .container  .box:nth-of-type(1) {
  flex-grow:1;
  background: #fff;
  border-radius: 10px;
  margin: 0px 0px;
  padding: 0px 0px;
  text-align:left;
}  
.main_menu .container  .box:nth-of-type(2) {
  flex-grow:6;
  max-width: 450px;
  background: #568c63;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.main_menu .container  .box:nth-of-type(3) {
  flex-grow:1;
  background: #fff;
  border-radius: 10px;
  margin: 0px 0px;
  padding: 0px 0px;
  text-align:left;
}
/*End container main menu*/
/*Container buttons section main menu */
.container_buttons_links_main_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}
.container_buttons_links_main_menu a:hover {
  color: #568c63;
}
/*End container buttons section main menu*/

@media (max-width:768px) { 
  .header_carbon_app {
    flex-direction: column;
  } 
  .carbon_app_new_entry_main {
    flex-direction: column;
  } 
  .new_entry .container {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }
  .table_main .container {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }
}

/* Grafene */

.two_emissions_graphs .container {
  display: flex;
  flex-wrap: wrap;          /* slik at de kan hoppe ned på neste rad på små skjermer */
  justify-content: center;  /* midtstiller hele raden */
  padding: 40px;                /* mellomrom mellom grafene */
  gap: 60px
}

.two_emissions_graphs .box {
  flex: 0 0 45%;            /* ca. to grafer per rad (45 % bredde hver) */
  display: flex;
  justify-content: center;  /* midtstiller selve canvasen i boksen */
}

.new_entry .container .box:nth-of-type(2) *, 
.new_entry .container .box:nth-of-type(2) { color: #1c1c1c !important; }