/* Header video Methodolody */
.metho_video{ position: relative; width: 100%; background: #ffffff; }
.metho_video video{
  display: block;
  width: 100%;
  height: auto;            
  object-fit: contain;       
}
/* Utilities  */
p {
  margin: 10px 0;
  font-size: 18px;
}
h4 {
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}
ol {
  font-size: 18px;
}
/* Section header */
.section_header_methodology {
  background-color:#EAFFE5;
}
.header {
  display: flex;  
  align-items: start;
  background: #EAFFE5;
}
.header .box {
  flex: 1;
  background: #EAFFE5;
  color: #fff;
  border-radius: 10px;
  margin: 15px 15px;
  padding: 15px 20px;
  text-align:center;
  align-items: center;
  justify-content: center;
}
.header .box:nth-of-type(1) {
  flex-grow:2;
}
.header .box:nth-of-type(2) {
  flex-grow:1;
}
.container_buttons_links_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}
.container_buttons_links_header a:hover {
  color: #cdeccd;
}
.container_buttons_links_header .btn {
  background: #EAFFE5;
  color: #fff;
  display: flex;
  justify-content:center;
  align-items:center;
}
/* Section methodology */
.section_body_methodology {
  background-color:#EAFFE5;
}
.methodology {
  display: flex;  
  align-items: stretch;
  background: #EAFFE5;
}
/* 1-5 kollonne */
.methodology .box_table2 {
  flex: 1;
  background: #ffffff;
  color: black;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  padding: 15px 15px;
  text-align:center;
  align-items: center;
  justify-content: center;
}
.methodology .box_table2:nth-of-type(1) {
  flex-grow:1;
  background: #ffffff;
}
.methodology .box_table2:nth-of-type(2) {
  flex-grow:1;
  background: #ffffff;
}
/* 6 kolonne */
.methodology .box_table1{
  flex: 0 1;
  max-width: 630px;
  background: #ffffff;
  color: black;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  padding: 15px 15px;
  text-align:center;
  align-items: center;
  justify-content: center;
}
.methodology .box_table1:nth-of-type(1) {
  flex-grow:1;
  background: #ffffff;
}
@media (max-width:768px) { 
  .header {
    flex-direction: column;
  } 
  .methodology {
    flex-direction: column;
  } 
}