{% extends "gd_course/HVL_2025_group6/layout.html" %} {% block title
%}Calculator{% endblock %} {% block content %}

<!-- Section: Introduction text -->

<div class="text-overlay">
  <h1>Our calculator</h1>

  <p>
    Hey, it’s me, Mr. Eco! <br /><br />
    Let’s find out how your way of traveling affects the planet. Whether you
    drive, take the bus, hop on a train, or fly across the globe — I’ll help you
    see how much CO₂ your trip produces. Just enter your distance and choose
    your transport mode, and I’ll do the rest. You might be surprised how small
    choices can make a big difference for our environment.
    <br /><br />Ready to see your impact? Let’s explore together!
  </p>

  <div class="section_container_buttons_paper">
    <a
      class="btn_paper"
      href="https://forward-static.s3.eu-north-1.amazonaws.com/gd_course/gd_course_HVL_2025_group6/paper.pdf"
      target="_blank"
      >Our Paper</a
    >
  </div>
</div>

<!-- Section: Boxes with means of transport -->

<div class="transport-grid">
  <a
    href="{{ url_for('gd_course_HVL_2025_group6.new_entry_car') }}"
    class="transport-card"
  >
    <i class="fa-solid fa-car-side"></i>
  </a>

  <a
    href="{{ url_for('gd_course_HVL_2025_group6.new_entry_plane') }}"
    class="transport-card"
  >
    <i class="fa-solid fa-plane"></i>
  </a>

  <a
    href="{{ url_for('gd_course_HVL_2025_group6.new_entry_train') }}"
    class="transport-card"
  >
    <i class="fa-solid fa-train-tram"></i>
  </a>

  <a
    href="{{ url_for('gd_course_HVL_2025_group6.new_entry_ferry') }}"
    class="transport-card"
  >
    <i class="fa-solid fa-ship"></i>
  </a>

  <a
    href="{{ url_for('gd_course_HVL_2025_group6.new_entry_bus') }}"
    class="transport-card"
  >
    <i class="fa-solid fa-bus"></i>
  </a>

  <a
    href="{{ url_for('gd_course_HVL_2025_group6.new_entry_walk') }}"
    class="transport-card"
  >
    <i class="fa-solid fa-person-walking"></i>
    <i class="fa-solid fa-bicycle"></i>
  </a>

  {% endblock %}
</div>
