{% extends "gd_course/HVL_2025_group6/layout.html" %}
{% block content %}

<div class="calculator-grid">
<!-- Calculator Card -->
  <div class="calculator-card">
    <p><strong>Train Calculator</strong></p>
    <p>1. Please, enter the number of kilometers.<br>
       2. Please, select the type of fuel.</p>

    <form method="POST" action="">
      {{ form.csrf_token }}
      <fieldset class="form-group">

        <div class="form-group">
          {{ form.kms.label(class="form-control-label") }}
          {% if form.kms.errors %}
            {{ form.kms(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.kms.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.kms(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.fuel_type.label(class="form-control-label") }}
          {% if form.fuel_type.errors %}
            {{ form.fuel_type(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.fuel_type.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.fuel_type(class="form-control form-control-lg") }}
          {% endif %}
        </div>

      </fieldset>

      <div class="form-group mt-2">
        {{ form.submit(class="btn_carbon_app_new_entry_main") }}
      </div>
    </form>
  </div>


  <!-- Methodology Card -->
  <div class="calculator-card">
    <p><strong>Methodology</strong></p>
    <p>
      Trains are among the most climate friendly ways to travel. 
      An electric train emits only <strong>7 g CO₂/pkm </strong> while a diesel train produces around <strong>91 g CO₂/pkm</strong>. 
      </p> <strong>Tip from MR. Eco: Because many passengers share one journey trains are both efficient and comfortable. Every trip by train saves energy and emissions!</strong>
</p>
  </div>

</div>

{% endblock %}
