{% extends "gd_course/HVL_2025_group6/layout.html" %}
{% block content %}

<div class="calculator-grid">

<!-- Calculator Card-->
  <div class="calculator-card">
    <p><strong>Ferry Calculator</strong></p>
    <p>1. Please, enter the number of kilometers.<br>
       2. Please, select transport mode.</p>

    <form method="POST" action="">
      {{ form.csrf_token }}
      <fieldset class="form-group">

        <div class="form-group">
          {{ form.kms.label(class="form-control-label") }}
          {% if form.kms.errors %}
            {{ form.kms(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.kms.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.kms(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.fuel_type.label(class="form-control-label") }}
          {% if form.fuel_type.errors %}
            {{ form.fuel_type(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.fuel_type.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.fuel_type(class="form-control form-control-lg") }}
          {% endif %}
        </div>

      </fieldset>

      <div class="form-group mt-2">
        {{ form.submit(class="btn_carbon_app_new_entry_main") }}
      </div>
    </form>
  </div>


<!-- Methodology Card-->
  <div class="calculator-card">
    <p><strong>Methodology</strong></p>
    <p>
      In Norway ferries are part of everyday life but the emissions depend on what you bring on board. 
      A passenger ferry produces about <strong>186 g CO₂/pkm</strong> while a car transported without passengers emits around <strong>377 g CO₂/pkm</strong>!
      </p> <strong>Tip from MR. Eco: Whenever possible, leave the car behind and enjoy the sea breeze. Your footprint will thank you! </strong>
  </p>
  </div>

</div>

{% endblock %}
