{% extends "boa205_course/boa205_course_layout.html" %} {% block content %}

<section class="section-chapters">
  <div class="chapters-container">
    <!-- Randomize -->
    <div
      class="chapters-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
      style="background-color: #f2b84b"
    >
      <div class="chapters-icon">
        <i class="fa-solid fa-calculator"></i>
      </div>
      <p>
        <strong>Tilfeldig:</strong>
        <br />
        <span class="random-number">Gruppe: {{ random_number }}</span>
      </p>
    </div>

    <!-- Group 1-->
    <div
      class="chapters-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
    >
      <div class="chapters-icon">
        <i class="fa-solid fa-receipt"></i>
      </div>
      <p>
        <strong>Gruppe 1:</strong>
        <br />
        Jonas Helle Sandvik
        <br />
        Birk Isaksen
        <br />
        Marius Helland
        <br />
        Ingrid Gurvin
        <br />
        Tamara Stovner
        <br />
        Henrik Hjertenes
      </p>
    </div>

    <!-- Gruppe 2-->
    <div
      class="chapters-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
    >
      <div class="chapters-icon">
        <i class="fa-solid fa-receipt"></i>
      </div>
      <p>
        <strong>Gruppe 2:</strong>
        <br />
        Olai Frøyen
        <br />
        Tormod Vada
        <br />
        Carl August Lygre
        <br />
        Edvard Ellingsen
        <br />
        Jonas Ulsrud Vanvik
      </p>
    </div>

    <!-- Gruppe 3-->
    <div
      class="chapters-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
    >
      <div class="chapters-icon">
        <i class="fa-solid fa-receipt"></i>
      </div>
      <p>
        <strong>Gruppe 3:</strong>
        <br />
        Jone Osland
        <br />
        Evert Windjusveen Olsen
        <br />
        William Refstie
        <br />
        Mia Stavland Dahle
        <br />
        Helle Olsen Rindal
        <br />
        Tuva Holm Reigstad
      </p>
    </div>

    <!-- Gruppe 4-->
    <div
      class="chapters-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
    >
      <div class="chapters-icon">
        <i class="fa-solid fa-receipt"></i>
      </div>
      <p>
        <strong>Gruppe 4:</strong>
        <br />
        Emma Sannes Melå
        <br />
        Ingebjørg Madtsen
        <br />
        Ida Mardal
        <br />
        Goda Morkvenaite
        <br />
        Elisa Nesse
        <br />
        Live Moen
      </p>
    </div>

    <!-- Gruppe 5-->
    <div
      class="chapters-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
    >
      <div class="chapters-icon">
        <i class="fa-solid fa-receipt"></i>
      </div>
      <p>
        <strong>Gruppe 5:</strong>
        <br />
        Marie Jordan
        <br />
        Dina Jacobsen
        <br />
        Renate Unneland Larsen
        <br />
        Henrik Ibsen
        <br />
        Noah Christoffer
      </p>
    </div>

    <!-- Gruppe 6 -->
    <div
      class="chapters-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
    >
      <div class="chapters-icon">
        <i class="fa-solid fa-receipt"></i>
      </div>
      <p>
        <strong>Gruppe 6:</strong>
        <br />
        Henrik Øvrelid
        <br />
        Zaw Win
        <br />
        Filip Bustgaard
        <br />
        Ole Wiborg
      </p>
    </div>

    <!-- Gruppe 7 -->
    <div
      class="chapters-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
    >
      <div class="chapters-icon">
        <i class="fa-solid fa-receipt"></i>
      </div>
      <p>
        <strong>Gruppe 7:</strong>
        <br />
        Amalie Sjo Thillmann
        <br />
        Stine Haavik
        <br />
        Hilsen Ida Johannessen
      </p>
    </div>

    <!-- Gruppe 8 -->
    <div
      class="chapters-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
    >
      <div class="chapters-icon">
        <i class="fa-solid fa-receipt"></i>
      </div>
      <p>
        <strong>Gruppe 8:</strong>
        <br />
        Anders Fjellstad Back
        <br />
        Thomas Brattaule
        <br />
        Lars Oliver Aune
        <br />
        Jonatan Blindheim
      </p>
    </div>

    <!-- Gruppe 9 -->
    <div
      class="chapters-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
    >
      <div class="chapters-icon">
        <i class="fa-solid fa-receipt"></i>
      </div>
      <p>
        <strong>Gruppe 9:</strong>
        <br />
        Maria Pernille Olsen
        <br />
        Nora Hjelle
        <br />
        Emma Bakke
        <br />
        Kajsa Austbø
        <br />
        Thea Veivåg
        <br />
        Henrikke Hopland
      </p>
    </div>

    <!-- Gruppe 10 -->
    <div
      class="chapters-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
    >
      <div class="chapters-icon">
        <i class="fa-solid fa-receipt"></i>
      </div>
      <p>
        <strong>Gruppe 10:</strong>
        <br />
        Malin Husmo Tuven
        <br />
        Hedda Aftret Tufte
        <br />
        Ida Reppe
        <br />
        Ida Elvina Knudsen Vathne
        <br />
        Adele van der Heide
      </p>
    </div>

    <!-- Gruppe 11 -->
    <div
      class="chapters-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
    >
      <div class="chapters-icon">
        <i class="fa-solid fa-receipt"></i>
      </div>
      <p>
        <strong>Gruppe 11:</strong>
        <br />
        Martin Hammer Samdal
        <br />
        Ingrid Solvåg
        <br />
        Benjamin Halfdan Holm
        <br />
        Erlend Brochmann Rein
        <br />
        Cristiano Auletta
        <br />
        Karl Adam Halstensen
      </p>
    </div>

    <!-- Gruppe 12 -->
    <div
      class="chapters-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
    >
      <div class="chapters-icon">
        <i class="fa-solid fa-receipt"></i>
      </div>
      <p>
        <strong>Gruppe 12:</strong>
        <br />
        Emma Paulsen
        <br />
        Eline Jekteberg
        <br />
        Oline Bergitte Haugen
        <br />
        Live Rekkedal
      </p>
    </div>

    <!-- Gruppe 13 -->
    <div
      class="chapters-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
    >
      <div class="chapters-icon">
        <i class="fa-solid fa-receipt"></i>
      </div>
      <p>
        <strong>Gruppe 13:</strong>
        <br />
        Ingrid Førland
        <br />
        Elise Iversen
        <br />
        Even Leonard Tøfte Myrheim
        <br />
        Magnus Hofsli-Aune
        <br />
        Kristin Hovda
      </p>
    </div>

    <!-- Gruppe 14 -->
    <div
      class="chapters-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
    >
      <div class="chapters-icon">
        <i class="fa-solid fa-receipt"></i>
      </div>
      <p>
        <strong>Gruppe 14:</strong>
        <br />
        Kristoffer Ytre-Arne
        <br />
        Sindre Borlaug Ådnebergli
        <br />
        Magnus Hesjedal Hartwig
      </p>
    </div>

    <!-- Gruppe 15 -->
    <div
      class="chapters-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
    >
      <div class="chapters-icon">
        <i class="fa-solid fa-receipt"></i>
      </div>
      <p>
        <strong>Gruppe 15:</strong>
        <br />
        Amalie Forthun Grøthe
        <br />
        Sirinn Saied
        <br />
        Kuri Marirosi
        <br />
        Emilie Fondenes Dybberg
        <br />
        Rouya Mahou Zada
      </p>
    </div>

    <!-- Gruppe 16 -->
    <div
      class="chapters-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
    >
      <div class="chapters-icon">
        <i class="fa-solid fa-receipt"></i>
      </div>
      <p>
        <strong>Gruppe 16:</strong>
        <br />
        Pernille Fjeldstad
        <br />
        Marte Lunde Sætre
        <br />
        Amalie Marie Moldestad
        <br />
        Beate Tange Johannessen
      </p>
    </div>

    <!-- Gruppe 17 -->
    <div
      class="chapters-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
    >
      <div class="chapters-icon">
        <i class="fa-solid fa-receipt"></i>
      </div>
      <p>
        <strong>Gruppe 17:</strong>
        <br />
        Karoline Hummervoll
        <br />
        Tamara Hovlid
        <br />
        Ingrid Gurvin
        <br />
        Jenny Larsen
      </p>
    </div>

    <!-- Gruppe 18 -->
    <div
      class="chapters-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
    >
      <div class="chapters-icon">
        <i class="fa-solid fa-receipt"></i>
      </div>
      <p>
        <strong>Gruppe 18:</strong>
        <br />
        Tuva Øvrebø-Bildøy
        <br />
        Frøy Amalie Grønberg
        <br />
        Thea Nordskog
        <br />
        Maud Amundsen
        <br />
        Elena Marie Salvesen
      </p>
    </div>
    <!-- Gruppe 19 -->
    <div
      class="chapters-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
    >
      <div class="chapters-icon">
        <i class="fa-solid fa-receipt"></i>
      </div>
      <p>
        <strong>Gruppe 19:</strong>
        <br />
        Lars Solem Næsheim
        <br />
        Martin Askeland
        <br />
        Rosana Shera
        <br />
        Håkon Mostad Abrahamsen
      </p>
    </div>
    <!-- Gruppe 20 -->
    <div
      class="chapters-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
    >
      <div class="chapters-icon">
        <i class="fa-solid fa-receipt"></i>
      </div>
      <p>
        <strong>Gruppe 20:</strong>
        <br />
        Eline Nordbakke
        <br />
        Sandra Vik Nymo
        <br />
        Synne Hole Nesbø
      </p>
    </div>
    <!-- Gruppe 21 -->
    <div
      class="chapters-box"
      data-aos="aos-fade-right"
      data-aos-duration="2000"
      data-aos-delay="200"
      data-aos-once="true"
    >
      <div class="chapters-icon">
        <i class="fa-solid fa-receipt"></i>
      </div>
      <p>
        <strong>Gruppe 21:</strong>
        <br />
        Tuva Vågnes
        <br />
        Tiril Torvund
        <br />
        Synnøve Økland
        <br />
        Victoria Wickholm
        <br />
        Nathalie Tjøsvoll
        <br />
        Kaja Wasberg
        <br />
        Maria Vaage
      </p>
    </div>
  </div>
</section>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  // Convert custom data attributes to real AOS attributes
  document.querySelectorAll("[data-aos='aos-fade-right']").forEach((el) => {
    el.setAttribute("data-aos", "aos-fade-right");
  });

  AOS.init({
    startEvent: "DOMContentLoaded",
    once: true,
  });
</script>

{% endblock content %}
